[2016-09-25 21:39] nadbm opened #1 "Copy pasting in reverse doesnt work"

[2016-10-03 17:27] #1 closed

[2016-10-03 17:28] nadbm opened #2 "Document data-renderer with an example"

[2017-04-04 03:51] #2 closed

[2017-04-04 14:05] dustintownsend opened #5 "Touch/Mobile Support?"
Hi! I just came across this and was curious if Touch/Mobile support was on your roadmap or radar for this project?

[2017-04-04 14:14] nadbm commented on #5
Not at the moment.  I'm not sure how to translate a lot of the UX over to mobile. Namely navigation, copy pasting, etc.

If it was in mobile, it would be a very stripped down version of this.

[2017-04-04 16:44] rileytg commented on #5
fwiw– andriod is now the most popular OS on the internet https://www.theregister.co.uk/2017/04/03/android_beats_windows_on_internet/

[2017-04-04 16:49] rileytg opened #7 "text overflow?"
Not gonna call the current behavior a "bug" but i figure a thread on what should be done for overflow is a worthwhile discussion.

Current Behavior:
<img width="576" alt="react_datasheet_component" src="https://cloud.githubusercontent.com/assets/692817/24668420/ac689b96-191b-11e7-8cf5-71ef6a40f2cf.png">

Google sheets:
<img width="695" alt="untitled_spreadsheet_-_google_sheets_and_terminal_ _-bash

[2017-04-04 17:27] nadbm commented on #7
Overflow hidden makes sense. The only issue I can see if that if the cell contains a component that is meant to overflow (for example a dropdown), it will get hidden too.
Maybe having overflow hidden on the x axis would work?

[2017-04-04 18:09] varunkumar opened #8 "Benchmarking & performance stats"
Please share any benchmarking & performance stats around this library. Interested in knowing how far we can stretch this one.

[2017-04-04 21:13] Timopheym commented on #8
it would be nice to compare it with https://github.com/openfin/fin-hypergrid and https://github.com/TonyGermaneri/canvas-datagrid is canvas approach much faster then react or not?

[2017-04-04 21:41] danielytics commented on #5
@nadbm re UX, take a look at how handsontable does it as it works relatively well (not perfect, but passable) on iOS.

[2017-04-04 22:47] hugozap commented on #7
and extension point could be added in the form of a property e.g , cellStyle or a method getCellStyle(data) that gets evaluated against each cell data to obtain the value container style for that cell.

[2017-04-05 19:32] tleish opened #10 "Multi-Row Copy/Paste from Excel and React-DataSheet"
**Copy/Paste from Paste to React-DataSheet to Excel**
This seems to work well

**Copy/Paste from Paste to Excel to React-DataSheet**
This works when if I am only copying data from one row, but more than one row does not paste properly into React-DataSheet is not working.  It mashes all the data into a single row.

OS: macOS 10.12.3
Browser: Version 56.0.2924.87 (64-bit)
Excel: 15.31

[2017-04-06 10:15] kvolkovich-sc opened #12 "New examples page proposal"
Hello! Great react-datasheet. Really cool =)

Recently we release first public version of this project.

https://github.com/OpusCapitaBES/js-react-showroom-client

It allows to write documentation in markdown and run all docs in sandbox with code examples.
It often useful to have possibility to play with components at web page before use it in project.

Do you interested in adding interactivity to

[2017-04-06 18:31] AlexanderEllis opened #14 "Grammar in README"
Nothing major, but I noticed the Cell Options forceComponent reads:

It should read:

[2017-04-07 04:18] nadbm commented on #14
Thanks, feel free to make pull requests for any other mistakes :)

[2017-04-07 04:18] #14 closed

[2017-04-07 05:14] nadbm commented on #10
Thanks for reporting, should work fine now. Wasn't checking for carriage return, only newline

[2017-04-07 05:14] #10 closed

[2017-04-08 03:55] Rrrapture commented on #5
I would also love to see / contribute to the mobile web feature. I frequently update or create spreadsheets on my galaxy S7. For another example of phone UX - from a native app - Google Spreadsheets is good.

https://play.google.com/store/apps/details?id=com.google.android.apps.docs.editors.sheets

[2017-04-30 03:28] CAYdenberg opened #16 "Grids generated using array constructor autofill on first change event"
I'm not totally sure if this is a bug or just something improper with the way I'm going about this. I'm trying to auto-generate a 10-by-10 grid on init:

[code]

but when I do this, if I type anything into a cell, the entire grid gets filled with that value. After that it behaves as expected.

I can get any truthy or falsy value for that initial cell:

[code]

[code]

[code]

all do the same thing

[2017-05-01 17:50] nadbm commented on #16
hey @CAYdenberg, your initialization is duplicating objects
[code]
The way you're initializing essentially copies the same object. The handleChange method uses an object equality. Either change the method to use proper index or initialize your grid differently:
[code]

[2017-05-01 17:50] #16 closed

[2017-05-03 02:00] CAYdenberg commented on #16
Thanks for your response. That makes sense.

[2017-05-22 13:42] yarnball commented on #5
Basic touch support on this would be great. Nothing fancy- just to make the cells editable on touch screens. Is this at all possible?

[2017-05-24 18:22] nadbm commented on #12
Feel free to make a gh-page I can link to within the doc, thanks

[2017-05-24 18:22] #12 closed

[2017-05-24 19:46] zachguo opened #18 "onPaste doesn't provide selected cell's row and column index"
Or is there an easy way to get copy-n-paste working?

[2017-05-24 19:53] nadbm commented on #18
@zachguo
One way to fix this would be to add the indexes right here:
https://github.com/nadbm/react-datasheet/blob/master/src/DataSheet.js#L109

The alternative is to store the index on the cell's data itself since onPaste returns {cellData, pastedData} on for each cell. I guess it can be cumbersome as each cell needs to be initialized with the proper indexes

[2017-05-24 19:53] nadbm commented on #18
Feel free to make a PR if you do end up adding the indexes

[2017-05-24 20:24] zachguo commented on #18
Actually my problem is that, when editing cell content (after doubleclick), one cannot paste anything into the cell.
![n53dkfbdcj](https://cloud.githubusercontent.com/assets/3478203/26423743/ab9dc80a-4083-11e7-8020-7688e51d21f0.gif)
(I tried pasting `react-datasheet` into A1 but failed, so basically expected behavior of input box is violated)

[2017-05-24 20:33] nadbm commented on #18
I see, that's a different issue, and definitely a bug to be fixed. Basically should not be calling internal onPaste function if the cell is in editing mode

[2017-05-24 20:43] zachguo commented on #18
Could you point to me where to change to get this fixed? I tried searching `input` and `editing`, but it's still not clear to me where to change.

[2017-05-24 20:53] nadbm commented on #18
@zachguo I just pushed a commit, I'll get around to adding tests for it and pushing it to npm. But that should do it

[2017-05-24 20:54] zachguo commented on #18
@nadbm Amazing, thanks!

[2017-05-28 17:32] #18 closed

[2017-05-29 16:09] fzoozai opened #19 "Super expression must either be null or a function, not undefined - troubleshooting with import of react-datasheet"
Hi,

I just tried to integrate the react-datasheet component into my project where I faced some issues with regard to rendering the component. What could be the reason for that? I saw the last commit in the react-datasheet project was about 23 hours ago. I also followed the given example step by step from the basic usage section. I appreciate any help.

fzoozai

[2017-05-29 16:15] nadbm commented on #19
hey @fzoozai, I'll need more details as to your issue. Is this an issue introduced in the new version? Can you try out an older tag ? thanks

[2017-05-29 20:40] fzoozai commented on #19
@nadbm
my current react version is "react": "^0.14.3"

While trying to figure out how to solve my problem I checked whether I get the error by only including the data-sheet lib into my project like:

<img width="553" alt="datasheet-issue" src="https://cloud.githubusercontent.com/assets/10197484/26561445/d9d45038-44be-11e7-9a59-f583103b6ce6.png">

As expected I got:
<img width="653" alt="screen sho

[2017-05-29 21:35] nadbm commented on #19
@fzoozai Any chance your project is up on github? I'd like to reproduce this locally

[2017-05-29 21:50] #19 closed

[2017-05-30 21:11] patrick-jones opened #20 "Include row and column in valueRenderer and dataRenderer"
It would be useful to include row and column indices as arguments to the `valueRenderer` and `dataRenderer` callbacks. That would make it easy to make a model to say (for example), "column 3 is formatted as Chinese yuan". The revised signature would be `valueRenderer(cell, row, col) => string`

[2017-06-01 16:40] patrick-jones opened #21 "Revert edit when escape key pressed"
While editing, if the user hits the escape key then you should exit edit mode and the original, pre-editing value should be restored.

[2017-06-01 16:41] nadbm commented on #21
Should be simple enough, feel free to do a PR (same for the other issue)

[2017-06-01 18:04] #21 closed

[2017-06-02 17:57] aadrian opened #24 "Readonly mode?"
Hi,

is there a read-only mode for the grid?

So no change operations, but selection, copy, navigation etc. ?

Thank you.

[2017-06-02 17:59] nadbm commented on #24
hey @aadrian, look at the basic sheet example, there are cells that are read-only. You just have to make all your cells read-only then you will get what you want.

[2017-06-02 17:59] #24 closed

[2017-06-02 18:04] aadrian commented on #24
@nadbm but those are headers :) .

[2017-06-02 18:05] nadbm commented on #24
yep, but look at the code, headers are not differentiated in this case. The only reason they are colored is because of the css file.

[2017-06-02 18:09] aadrian commented on #24
@nadbm OK, I see. The headers don't seem to be able to sort or expand or autofilter out-of-the-box :( .

[2017-06-02 18:14] nadbm commented on #24
Nope this is mainly a UI library, all that logic can be implemented on a top level component to this.

[2017-06-02 18:17] aadrian commented on #24
@nadbm would be nice if the component would be able to do that :) .

[2017-06-03 17:37] #20 closed

[2017-06-14 20:42] patrick-jones opened #25 "Column widths"
It would be useful to be able to specify column widths. These could be applied using a `style` attribute when rendering the cells. I can do a PR for this.

[2017-06-14 20:59] patrick-jones opened #26 "Parameterize rendering"
I have been looking into adding row drag and drop using [react-dnd](https://react-dnd.github.io/react-dnd/). I'm hampered by the fact that the rendering function for the datasheet is a bit of a black box. For example, react-dnd would really like to wrap each `tr` in order to hook up event handling and drag representation, etc.

Outside of react-dnd, it would be nice to be able to heavily customize

[2017-06-15 00:02] nadbm commented on #26
That seems reasonable, I did not see a use case for overriding TR initially, but drag and drop makes sense. If you can can keep the default behaviour, feel free to make the PR. I'd also like to see the drag and drop implementation, maybe you can link it in your repo and/or add it to the examples page

[2017-06-15 00:05] nadbm commented on #25
That PR would be great, this was requested earlier, see #7

[2017-06-15 17:00] patrick-jones commented on #26
Yes, I was thinking of at least making an example, and maybe setting up a separate package that could be treated as an add-on.

[2017-06-16 14:03] HaolinWang8 opened #27 "Text-Overflow"
If the text is too long in two adjacent cell, the text will overlay each other and hard to distinct.
Is there a way to support text-overflow?
I have tried text-overflow to <span> but it seems not working.

[2017-06-16 15:12] nadbm commented on #27
@HaolinWang8 Duplicate of #25 #7
For just hiding text overflowing you can add the following to your css :
table.data-grid tr td.cell {
    overflow: hidden;
}

[2017-06-16 16:23] HaolinWang8 commented on #27
is it a way similar to
text-overflow: ellipsis;

[2017-07-06 21:36] #7 closed

[2017-07-06 21:36] #25 closed

[2017-07-06 21:36] #27 closed

[2017-07-10 14:12] cgarvis opened #30 "Fixed headers when scrolling."

[2017-07-12 14:29] aiman-aew opened #31 "Automatic OnChange problems"
Been trying to implement sending DB requests on change to the data grid but the function onChange is not being invoked.
Tried using this in the constructor
this.onChange = this.onChange.bind(this);

with the onChange={this.onChange}
Managed to invoke the function, but its giving different errors per invoking if per cell change invoke or, by datasheet invoke.
as example if I delete a row using my d

[2017-07-12 19:00] nadbm commented on #31
hey @aiman-aew, can you post some code on how you set up the component?

[2017-07-13 08:34] aiman-aew commented on #31
hey @nadbm thank you for your reply here is the code where I am setting up the component.

`import React, {Component} from 'react';
import styled from 'styled-components';
import FloatingActionButton from 'material-ui/FloatingActionButton';
import Menu from 'material-ui/svg-icons/navigation/arrow-back';
import MuiThemeProvider from 'material-ui/styles/MuiThemeProvider';
import {HashHistory} from '

[2017-07-13 23:07] nadbm commented on #31
I think you have a misunderstanding of what onChange does. You have <Select /> components being generated. onChange is for value cells that can be edited.

[2017-07-13 23:07] #31 closed

[2017-07-17 16:32] aiman-aew commented on #31
Hello Nadim,

Upon reading the package code, specifically DataCell.js I noticed that you are loading the 'keys' onChange and the others, I guess this is what you meant by the component has its own method.

The thing is I am not knowing whether if its already loaded how should I use it.

Can you provide a similar case or code snippet I can refer to

Many Thanks!

[2017-07-17 17:16] nadbm commented on #31
@aiman-aew
No I meant, some of the cell objects, you are using <Select /> elements. Look at your code on the function ```generateGrid```.

These objects do not have a "key" parameter. And on your function ```cellUpdate``` you are looking for that value.

Here's a snippet of how to properly use components
https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/ComponentSheet.js

[2017-07-17 17:43] aiman-aew commented on #31
i grid to use this but got an error that

row.map is not a function

I guess this is because it needs an array of arrays as the dataset ? or else it won't work?

[2017-08-07 15:12] romanstan1 commented on #30
https://github.com/romanstan1/react-datasheet-header

[2017-08-07 18:06] nadbm commented on #30
do you mind doing a pull request @romanstan1 ? thanks

[2017-08-14 15:49] patrick-jones commented on #30
I probably should have commented earlier, but I've been very head-down.  I have a PR for for #26 that will allow this, and much more. @romanstan1's solution as written is that it always assumes the first row is a header row, and that may not be the case.

I haven't officially submitted my code for #26 yet because I still need to bulk up the tests and documentation for it. I'll try to get on that.

[2017-09-07 09:17] limuhob opened #32 "Paste on win machine causes empty rows due to win newline convention."
Win newline convention is \r\n. However this code splits data into data with empty rows.

https://github.com/nadbm/react-datasheet/blob/617890af2e88c3e01ec226546ad2151316b90519/src/DataSheet.js#L105

[2017-09-22 15:19] #32 closed

[2017-09-27 15:18] kylegoetz opened #35 "Documentation for onChange needs fixing"
Fixed and created PR. Basically onChange lists params `colI` (2nd param) and `rowJ` (3rd) in the documentation. I is typically used with rows and J with cols, and in the code itself, the 2nd param is a row identifier even if in the docs it's called `colI`, and similar for 3rd param, which is actually a column identifier.

[2017-09-27 15:20] #35 closed

[2017-09-28 01:12] kylegoetz opened #36 "Enhancement: allow overriding of DataSheet events (onMouseOver, etc.)"
I want to be able to override DataSheet events but don't see a way to do this currently. In particular, I want to disable the default behavior for when you click and drag across multiple cells (basically I want to have it just highlight the cell you clicked and that's it: I have the grid in a draggable div and the two drags conflict with one another).

In the constructor for DataSheet it's as easy

[2017-09-28 17:18] kylegoetz opened #37 "Possible Bug: When editing a cell and press left/right arrow key, editing stops and cell selection moves"
Maybe the expected behavior should be that the cursor within the editing field moves left/right. In any case, #36 would make this customizable.

[2017-09-28 18:02] nadbm commented on #37
What browser are you on ? This should not happen

https://nadbm.github.io/react-datasheet/    <- If I'm editing and moving cursor here, it remains in edit mode.

[2017-09-28 18:05] nadbm commented on #37
Also note that it matters how you enter edit mode. If it is double click or by pressing enter, the arrow keys dont get you out of edit.

However if you start typing without doing anything, you get into immediate edit. In that case pressing arrow moves cells right away. This is a replication of Excel behaviour.

[2017-09-28 18:08] kylegoetz commented on #37
Understood. I didn't realize that it behaved different depending on how you edit. I think I was always just typing without clicking. Couple with a teammate emailing me with this "bug" and I didn't bother to think about how Excel does it.

[2017-09-28 18:08] #37 closed

[2017-10-26 00:38] bttmly opened #38 "Enhancement: allow pre-parsing of pasted data"
The issue I have is I have users pasting data where the intended rows are separated by something besides newlines, and the cells are separated by something besides tabs. I'm wondering if you would be open to adding a `parsePaste` prop or similar, to customize how we initially parse data that a user pastes in. Basically I want to be able to customize the following code:

[code]

I propose something

[2017-10-26 02:56] nadbm commented on #38
This sounds reasonable to me @bttmly , a PR with a test would be great

[2017-10-26 17:37] bttmly opened #40 "How to run examples in development?"
I'm trying to make some changes on a branch and test it with the examples in `docs/examples`. I tried running `npm run build` and also `npm run build:watch` then opening `docs/build/index.html` but I'm getting 404s for the JS and CSS bundles. Looking into this I also noticed that `docs/build` is not really in sync with `docs/public` -- for example the `<title>` element in `docs/build` says "React

[2017-10-26 17:44] nadbm commented on #40
I'll look into this shortly

[2017-10-26 17:50] nadbm commented on #40
I'll add this in the documentation but for quick reference:
The examples folder is using a normal create-react-app;
[code]
Now it should open up your browser to host on localhost:3000

[2017-10-26 17:50] #40 closed

[2017-11-07 05:09] #38 closed

[2017-11-10 06:47] kamaldlk opened #41 "multi column select"
Can we use react-datasheet cell selection features in to https://github.com/adazzle/react-data-grid
in this lib

[2017-11-15 17:11] lepereira opened #42 "Extra brace on README.md 97:55"
Just a small change on the exemple for _Cells with underlying component_

It has an extra brace on <button onClick={() => console.log("clicked")}}>

[2017-11-30 12:12] kamaldlk opened #44 "row selection"
is there any option to select row with checkbox on mouse hover
like this
http://adazzle.github.io/react-data-grid/examples.html#/row-reordering
![screen shot 2017-11-30 at 5 41 03 pm](https://user-images.githubusercontent.com/9652523/33430246-e0812eec-d5f5-11e7-9fa2-089f6ca3a381.png)

[2017-12-01 09:52] kamaldlk opened #45 "fixed header and column resize possible ?"
@nadbm @sediug  fixed header and column resize possible ?

[2017-12-01 09:52] #41 closed

[2017-12-01 10:23] Sediug commented on #45
Impossible is nothing. But to do that... We need a lot of muscle it's not easy. http://schrodinger.github.io/fixed-data-table-2/example-resize.html It was implemented by facebook with divs. You are looking for an excel online and this is just a litle excel with some features not a complete spreadjs component xD. https://www.grapecity.com/en/spreadjs#solutions

[2017-12-01 10:45] kamaldlk commented on #45
@Sediug thanks

[2017-12-01 19:19] nadbm commented on #45
Unfortunately, not possible yet. Look at #30 and #26 that aims to do just that.
Pull requests are welcome for these!

[2017-12-01 19:19] #45 closed

[2017-12-01 19:25] nadbm commented on #44
This is possible.
This is slightly manual however:  you can use the 'component' attribute to have a checkbox in the first cell. See https://github.com/nadbm/react-datasheet#cells-with-underlying-component

When the checkbox is selected (keep this in your state), you can update your data so that cells in the row to have an extra className. That class can be whether or not cells are highlighted.

Ho

[2017-12-01 19:25] #44 closed

[2017-12-01 19:26] #42 closed

[2017-12-01 19:28] kamaldlk commented on #44
thanks

[2017-12-01 21:58] Sediug opened #46 "The prop onChange should be required."
In many functions of the DataSheet component there're calls to `this.props.onChange` without checking that this prop exist. I think it should be set as required in the propTypes section `onChange: PropTypes.func.isRequired`.

Example of the commented before:

[code]

[2017-12-08 00:57] ericlau-solid opened #47 "On edit, when you press Enter key, it should go to the cell below (like what Excel / Google Sheets does)"
The down arrow key already does this, but in Excel during edit the Enter key has the same effect as the down arrow key, which I think end users expect but doesn't do right now in react-datasheet.

[2017-12-08 01:16] Sediug commented on #47
It's easy to implement. I think it's a good idea. I offer myself to do it if the people like it.

[2017-12-11 05:04] sibutorovic opened #48 "Cells lose custom className after editing it"
If you set a custom className for any cell with your own styles and edit the cell (change its value) on the datasheet that cell's classes are reset.

Example:
Bottom border on some cells with a custom class.

![image](https://user-images.githubusercontent.com/4060696/33816364-1af4c1aa-de17-11e7-88bf-0833afbeb5c8.png)

And after editing any of those cells:

![image](https://user-images.githubuserco

[2017-12-11 05:24] nadbm commented on #48
How are you updating the cell? After the edit, does the cell data still have the className value?

[2017-12-11 05:24] nadbm commented on #47
Seems like the right behaviour, feel free to make a pull request @Sediug  :)

[2017-12-11 06:00] sibutorovic commented on #48
Im sorry, I got it to work thanks to your comment and it was quite simple.

[2017-12-11 06:01] #48 closed

[2017-12-12 23:15] ericlau-solid commented on #47
I am trying the latest version at time of writing: 1.2.17, but the enter key doesn't behave like the down arrow key. This behavior is consistent in demo. Has npm been updated / published with latest changes?

[2017-12-12 23:31] nadbm commented on #47
You’re right, depends on how editing is started (double click, enter). When typing directly it doesnt behave the same way. Im looking into this

[2017-12-13 03:15] nadbm commented on #47
This should be properly fixed now on 1.2.18 @ericlau-solid

[2017-12-13 16:03] #47 closed

[2017-12-14 18:20] Sediug commented on #47
Yeah, Thanks. I was on a rush with no time and I'm not proud of that implementation. Thanks @nadbm your implementation is cleaner and works as expected XD.

[2017-12-18 14:30] Dineshz opened #51 "Focus on cell component when editing"
Is it possible to focus or pass the enter key event to the custom component when in editing mode (forceComponent is set to true) ?

My use case:
I have a custom Select options component inside the cell, with forceComponent: true. I would like to capture the enter key event/focus and open the Select dropdown.

[2017-12-18 19:16] nadbm commented on #51
I'll have to make sure of this, but enter key event is currently being propagated.

https://nadbm.github.io/react-datasheet/ <-- check the last example with the select component

[2017-12-19 08:06] Dineshz commented on #51
Since the autoFocus attribute is used on react-select, which focuses the component on mount, the Select component is focused. But when using forceComponent:true.. I cannot use autoFocus attribute, in which case, the focus event/enter key event does not propagate from ComponentCell.

Solution:

[2017-12-20 03:06] alivelee opened #52 "Have Problem in style overwrite"
I want to overwrite the default styles, how can i do it

[2017-12-20 09:43] Dineshz opened #53 "Feature request: Focus on first cell by default"
Focus on the first cell by default, to start working on the spreadsheet without the intervention of a mouse.

[2017-12-20 21:02] nadbm commented on #52
@alivelee All the styles are on the CSS file, if you want to override, you just have to make a custom one

[2018-01-05 10:49] popo63301 opened #55 "Add row in the middle of two rows"
How do you approach adding a row in the middle of two rows? I've read there's a system of key of each cell, so if you add a row in the middle of two, you probably need to change every key, no?

[2018-01-05 19:31] nadbm commented on #55
The keys are set as default as a combo of row & column. But you may have your custom keys, and in that case, you just have to make sure they are unique. There is no problem for adding a new row, you just have to update your data to include the new dataset.

[2018-01-08 03:25] stahlmanDesign opened #56 "Very slow render when pasting or deleting several cells"
When I paste 20 rows with 10 columns (a modest amount of data) takes more than 10 seconds to render and it's all due to scripting.

If I introduce the method `shouldComponentUpdate` to render only every 500 ms, pasting data is twice as fast, but still very slow. It seems the cause is setting state for each a cell during the `onChange` method (the loop through the grid's rows and columns).

To get

[2018-01-08 03:43] nadbm commented on #56
Yep there is!
When I released this, I did have to paste large amount of data so I left a handler for this purpose.
There is an api call: ```onPaste```
If you put a function there, you can set the whole state at once, and this will be much faster.

PS: We've met in person before I think. D3 tutorial if I recall correctly? Otherwise forgive my memory 😛

[2018-01-08 04:43] stahlmanDesign commented on #56
OK, that works
[code]

Now, if `onPaste` had the cell info, e.g. `onPaste(array, cell)` then I could paste a smaller selection in the middle of the grid instead of replacing the whole grid — just like it works without `onPaste`, but faster.

It's still slow when deleting a bunch of selected cells. Would be good to have an `onDelete` (or `onCut` to copy tsv data to clipboard just like Excel) to set

[2018-01-08 04:51] nadbm commented on #56
Probably should add a little more documentation on this. But the returned data format is the following:
[[{cell,data}]]  (the cell has the extra info to compare your data source)

Is it slow on delete as well? I guess a pull request is welcome in that case

[2018-01-12 18:35] patrick-jones opened #58 "pasting and deleting spam `onChange`"
This seems related to #56. When deleting a multi-cell selection, `onChange` gets called multiple times within a tight loop. This can cause a lot of unnecessary re-rendering when you update your state (or redux reducer, etc) from within a loop. I have even seen a hard to reproduce situation in which only the last cell in the range was deleted, I think because [`setState` doesn't always immediately

[2018-01-12 19:18] nadbm commented on #58
Definitely like the idea. I prefer deprecating the idea of only having ```onChangeMultiple (easier to differentiate from onChanges)``` and get rid of ```onPaste```

[2018-01-12 20:10] Sediug commented on #58
+1

[2018-01-12 21:45] Sediug opened #59 "Fixed header and columns. Work in progress."
Hi there! :)

I need a fixed header and columns and scroll over the datasheet so I came up with this aproach to solve the problem. It's still a work in progress. I create a new component and separate it from the old one, then I move the logic that manage the onPaste, onCopy and onKeyPress to another file to share the methods between the two components. All though I did some refactoring, test, etc.

[2018-01-12 22:48] nadbm commented on #59
hey @Sediug,
have you looked at the pull request #57? The parameterized rendering would allow for this to work a little more simply. I am looking to merge that into the codebase and the refactoring will most definitely clash between the two.

Can you see if that pull request allows you to do the fixed header?

[2018-01-12 23:19] Sediug commented on #59
Hi @nadbm!

Yes, I seen it, looks very good but I'm not sure. Even though I'm also adding fixed columns. I will check it tomorrow. There is no problem, I was counting on merging after I seen it a few hours aho, I think it'ill be not so difficult because I did some refactor myself and create some test cases, I mean I know prety well the codebase right know and I have seen the code in that PR.

Anyw

[2018-01-15 09:33] Sediug commented on #59
Hi there @nadbm!

The new features maybe allow me to do it but with a lot of work, I'm not completily sure. In any case I have to develop a component based on this one, so my idea is to w8 for the new pr to be merged then merge the new codebase into my branch and see how can I manage to do it. We'll see, no worries :+1:

I think this issue may be opened until you merge the PR and everythink. ^^

W

[2018-01-23 20:54] patrick-jones commented on #58
I will PR this, but I want to wait until #57 gets resolved. Easier merging.

[2018-01-24 19:42] #55 closed

[2018-01-24 19:42] #26 closed

[2018-01-24 19:43] #52 closed

[2018-01-24 22:40] stahlmanDesign commented on #58
Thanks @patrick-jones I'm looking forward to your solution

[2018-01-26 10:10] educastellano opened #60 "Selection of cells should be controlled"
I would like to show some properties outside the component regarding the selected cell. I managed to trigger an event by overriding the cell, but when I click outside the component the selection is gone.

How about something like this:

[code]

[2018-01-27 17:06] patrick-jones commented on #58
I'm almost done with this, but I've come across something that I'd like to get some feedback on.

Currently, `onChange` always includes the original cell as one of the arguments. `onPaste` does also, but with a catch: if you paste data that extends beyond the existing grid (e.g., you paste data four rows high on the last row) then the "out of bounds" pasted data are included, but `cell` is `null`.

[2018-01-27 17:49] nadbm commented on #58
So it would look like this:
```onCellsChanged={(inBoundData, outOfBound) => {do something}}```
This looks clean to me. Are you keeping onPaste and onChange? We can slowly deprecate those as this function can handle both.

[2018-01-27 18:01] nadbm commented on #60
@educastellano
I realized I forgot to document this. Can you try the prop "onSelect" to see if it does the trick?

[2018-01-28 00:19] patrick-jones commented on #58
That's the idea. And yes, `onChange` and `onPaste` will still be called unless `onCellsChanged` is available.

[2018-01-29 13:23] educastellano commented on #60
The `onSelect` prop works, but when I set the cell to the state, the selection disappears from the component, probably for the same reason that disappears when you click outside. I can try to look at the code later to see why that happens... But I think this prop could work for me! 👍

[2018-01-29 14:19] nadbm commented on #60
@educastellano can you make a fiddle with the issue? The selection should not disappear on a state change.

[2018-01-30 12:20] educastellano commented on #60
I managed to make a fiddle: https://jsfiddle.net/69z2wepo/99781/ I had some problems importing the library so I ended up including all the files in the JS section - seems to not be any collision with variable names. The example code is at the end.

The problem is happening when I pass a custom cell in the `cellRenderer` prop. If I remove this prop it works correctly.

[2018-01-31 08:13] lowang opened #62 "Grid barely responsive with 1000 rows, about 10 columns"
Despite original delay during first render, I've also got few seconds delay when trying to use key navigation or change a cell.

How could I make it fast?
Also how could I show eg 20 rows on screen and use scroll or key navigation to show the rest?

[2018-01-31 16:15] #58 closed

[2018-01-31 19:19] patrick-jones commented on #60
Have a look at the changes I made here: [https://jsfiddle.net/j7y0ga47/](https://jsfiddle.net/j7y0ga47/). You want to avoid using arrow functions as properties (more background [here](https://medium.freecodecamp.org/why-arrow-functions-and-bind-in-reacts-render-are-problematic-f1c08b060e36)).

[2018-01-31 20:43] nadbm commented on #60
As @patrick-jones mentioned, you want to avoid the arrow functions. His fiddle seems to be the same as above. Here is one without the arrow function: https://jsfiddle.net/j7y0ga47/1/

[2018-02-01 12:06] educastellano commented on #60
@patrick-jones @nadbm Perfect!! Thanks! 😃

The other problem I had is that I lose the selection when click outside the component, which I have fixed here: #63 Let me know what you think.

[2018-02-01 14:47] patrick-jones commented on #60
Bah! I must have forgotten to save the changes to the fiddle.

[2018-02-01 17:27] kamaldlk commented on #59
@Sediug @nadbm When your going to release Resize columns and fixed Header

[2018-02-02 01:59] kamaldlk opened #64 "need Help"
{
  "Id": "GridData",
  "Columns": [
    {
      "Key": "Id",
      "Name": "Id",
      "Width": 40,
      "Fixed": true
    },
    {
      "Key": "task",
      "Name": "Title",
      "Width": 100,
      "Fixed": true
    },
    {
      "Key": "priority",
      "Name": "Priority",
      "Width": 125
    },
    {
      "Key": "issueType",
      "Name": "Issue Type",
      "Width": 150
    },
    {

[2018-02-02 11:59] educastellano commented on #60
@patrick-jones no problem! 😃

Another thing, I'll probably need the selection of all the cells in case of selecting more than one. What about:

[code]

`selected` would still be a single cell or the last cell selected.

[2018-02-02 15:41] Sediug commented on #59
Hi there @kamaldlk,

I been very busy lately, I think there may be some way to implement it with the new features added, with no need to change the core. In that case I'll create another component which is a wrapper for datasheet allowing the user to create fixed header and columns with an easy config. It that's not the case then we'll see. Anyway if you're in a hurry, you can try and use my code

[2018-02-02 15:48] Sediug commented on #64
Next time use prettyfier please, like [jsonformatter](https://jsonformatter.curiousconcept.com/). ;) I'll take a look.
[code]

[2018-02-02 15:56] nadbm commented on #64
@kamaldlk
The documentation is fairly extensive, these type of questions don't really belong in issues. ≈

[2018-02-02 15:56] #64 closed

[2018-02-02 16:01] nadbm commented on #62
Try to avoid passing the component with arrow functions or binding them in the render function. Otherwise 1000 rows is pretty extensive. A proper solution would be to use `react-virtualized` for the rendering. I'll get around to trying something like that eventually.

[2018-02-02 16:04] nadbm commented on #60
@educastellano that sounds good. Currently, the onSelect method wasn't documented. So feel free to make a pull request against that.

[2018-02-02 16:32] Sediug commented on #64
Agree with @nadbm but it's easy, it's just change the data dimensions to have a matrix.

[code]

[2018-02-02 19:59] patrick-jones commented on #60
I also like the idea of being able to set the selection as a property. It's handy that the component manages selection for you, but sometimes it would be nice to control that externally (for example, to restore the last selection from a previous editing session).

[2018-02-07 13:10] educastellano commented on #60
@patrick-jones @nadbm
Maybe it should be optional. If the `selected` prop is set the selection is controlled, otherwise we keep `start` and `end` in the state.
I could work on that when I have some time, not a priority for me at the moment.

[2018-02-07 15:39] patrick-jones commented on #60
@educastellano agree about it being optional

[2018-02-07 17:52] kamaldlk commented on #64
Thanks

[2018-02-08 15:38] wisepuck opened #65 "How to get an array of selected cells ?"
I want to get an array of selected cells in table after onMouseDown.
![xioht1xstlchzbfcw3rehq](https://user-images.githubusercontent.com/5129689/35981807-d903b5a8-0cf6-11e8-9140-411499f16a8a.png)

[2018-02-08 15:44] nadbm commented on #65
As discussed in #60 this is not yet possible, PR welcome

[2018-02-12 21:39] flavioespinoza opened #67 "Error with npm install"
Failed to parse package.json data.

<img width="701" alt="screen shot 2018-02-12 at 2 38 49 pm" src="https://user-images.githubusercontent.com/2214913/36121138-92960e90-1002-11e8-9133-ba7a77353809.png">

[2018-02-12 21:44] flavioespinoza commented on #67
My bad!  Sorry :)

[2018-02-12 21:44] #67 closed

[2018-02-14 16:35] iddan commented on #62
I think there is a lot of room for improvement, especially for selecting and editing, even without `react-virtualized` will try to get my head around this soon and send a PR.

[2018-02-19 06:20] charleschenster opened #69 "Clearing the cell value for a component cell"
Hi @nadbm, I'm looking for an example where you use a react-select component and you're able to clear the cell value with the `delete` or `backspace` key. Is this possible? I tried adapting the example on https://nadbm.github.io/react-datasheet/ and I was unable to do get that to work.

[2018-02-19 06:25] nadbm commented on #69
Slightly more complex but doable. Look at the custom renderer example here :
https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/CustomRendererSheet.js#L57

[2018-02-19 07:04] charleschenster commented on #69
@nadbm Thanks for the quick response! That was exactly what I needed. 🙏thanks!

[2018-02-19 07:10] #69 closed

[2018-02-24 03:25] cthurston commented on #62
I was able to do it without making react-virtualized a hard dependency by modifying the render in DataSheet.js to pass back a virtual row renderer that matched the react-virtualized api.

https://gist.github.com/cthurston/516117bb5143ed0e455143962fafef57

It feels a little circular.  With a small change in the DataSheet api something close to this may be a viable route to performance on large data

[2018-02-25 05:05] astegmaier opened #70 "typescript definitions"
First thing, I wanted to say thank you for building and contributing such a high quality component. I'm playing around with it now, and it's quite impressive.

I was was looking to integrate this into a react project that used typescript, and I was hoping to get all the typescript goodness that I'm used to. I didn't see any definition files in this project or any existing definitions on @types, an

[2018-02-25 08:40] iddan commented on #62
Hey there. I created a contemporary variant at [iddan/react-spreadsheet](https://github.com/iddan/react-spreadsheet). Way more responsive on large datasets. Going to make it even more in the following week by fixing the new React Context API polyfill.

[2018-02-25 18:07] nadbm commented on #70
Thanks for the kind words. I would be open to a PR, I do not use typescript on my workflow, so haven't gotten around to adding them.

[2018-02-26 04:29] astegmaier commented on #70
Awesome! I got started working on it in [a fork](https://github.com/astegmaier/react-datasheet), and I think I got [a basic scenario](https://github.com/astegmaier/react-datasheet/commit/3cc77068f9f83ecb44b8c2f8f9ac51b3bca59756) off the ground by following the example already set by @weswigham at [his repo](https://github.com/weswigham/AtTypes-react-datasheet). I'll let you know when it's ready to

[2018-02-26 04:48] weswigham commented on #70
If the package maintainer isn't willing to actively use and update the definition files themselves, you should contribute type definitions to DefinitelyTyped instead, that way they can stay in the community and avoid burdening the package author. I just never got around to it because I just made the types for a one off project I made. :D

[2018-02-26 04:50] weswigham commented on #70
Oh, it's also worth noting that the work around I had in my readme hopefully isn't need anymore, since I've been working on updating TS itself to do proper inference for generic JSX components :3

[2018-02-26 06:29] astegmaier commented on #70
What do you think @nadbm ? I'm happy to contribute to @types instead. It's definitely more convenient for consumers who use typescript to have them come for free as part of the main package and benefit from attention from the core maintainers, but I don't want to burden you if you're already fully booked.

[2018-02-26 06:32] nadbm commented on #70
If it's on the package, I will try to maintain it. I'm not actively developing it so it will not be too bad to keep it up-to-date

[2018-03-02 19:24] kaueburiti commented on #62
@cthurston i tried your solution and did not worked :/
Just throw a lot of Invariant Violation's errors.

The gist is correct?

[2018-03-06 01:38] astegmaier commented on #70
I created #72 to add typescript definitions. I've tested it out in the context of a personal typescript project that exercises all the functionality of the package, and it seems to work. I also added a section to the readme to help get other folks started. Let me know if you have any feedback!

[2018-03-08 23:35] zachguo opened #73 "`onChange` shouldn't be called for cells using `component` option"
bug found after upgraded to v1.3.2 from v1.2.11.

I'm using a `<select ... />` inside a cell, however, datasheet's `onChange` is called when cell loses focus, so that empty value overrides my `select` input.

[2018-03-08 23:38] nadbm commented on #73
I'll check it out @zachguo , can you provide the simplest example to reproduce? thanks

[2018-03-08 23:47] zachguo commented on #73
@nadbm I'm not able to now. Maybe I'll try to add a test case later.

[2018-03-09 15:53] educastellano commented on #60
🎉 I've made an implementation of this here: #74

[2018-03-15 20:50] teedoo opened #75 "Warning when using customized cellRenderer"
Getting this warning when using cellRenderer.
[code]

My renderer looks like this:
[code]

[2018-03-17 09:10] tech-a-go-go opened #76 "Scrollbar ??"
How can I display a scroll bar for too many rows ?

cheers

[2018-03-19 03:12] #65 closed

[2018-03-19 03:12] nadbm commented on #60
Closing this issue after @educastellano's PR

[2018-03-19 03:12] #60 closed

[2018-03-19 03:15] nadbm commented on #56
Update:
#58  Fixes this with the onCellsChanged callback

[2018-03-19 03:15] #56 closed

[2018-03-19 03:39] nadbm commented on #76
Hey @tech-a-go-go  this is not a supported feature directly. You can however use css to make the table scrollable. Currently however there is no way to focus to a cell. If you do end up implementing something like that, a PR is welcome

[2018-03-27 10:23] softmarshmallow opened #77 "Remove Line Devider for custom design. == how to Borderless design"
I'm creating custom cheet by assinging ValueViewer as show in

Following the [example](https://nadbm.github.io/react-datasheet/)

the thing is that i want to create a borderless, lineless sheet for my custom design.
should i do by overriding css? if then How?

my custom sheet photo -> [https://imgur.com/a/Nyho6](https://imgur.com/a/Nyho6)

[2018-03-28 01:59] kamaldlk opened #78 "issue in display columns and rows"
I Have created a table with 15 columns and 14 rows table, not displaying properly

Here example. : https://codesandbox.io/s/l2xo65l9pq
![screen shot 2018-03-28 at 7 28 42 am](https://user-images.githubusercontent.com/9652523/38004399-b1ff2b08-3259-11e8-8e2f-d8a32bdbb453.png)

[2018-03-29 15:55] bartektartanus opened #79 "Cell blinks as updated when no value is changed"
When `valueRenderer` returns an object or an array (which are still rendered correctly) instead of just single value then this cell 'blinks' as updated even if no value is changed. This is caused by this line:
https://github.com/nadbm/react-datasheet/blob/2b0c0773a02f8b0ccefc480a93922f5465b448dd/src/DataCell.js#L42

I've changed it to:
[code]
 and looks like it helped for object/arrays (but it fai

[2018-03-29 22:46] zachguo commented on #73
I worked around this issue by using newly provided `dataEditor` option ( and `props.onCommit`) instead of old `component` option.

@nadbm  It seems that `component` and `forceComponent` options can be removed, since there are `dataEditor` and `valueViewer` replacing their functionalities now.

[2018-03-29 22:46] #73 closed

[2018-03-30 03:10] nadbm commented on #73
great @zachguo thanks for confirming.
yes I will deprecate them soon. The dataEditor and valueViewer are the way to go 😄

[2018-03-30 03:18] nadbm commented on #78
You seemed to have copied an example code that is meant to show how to render with tables/divs. If you choose to render with table, it will display correctly.

I try not to be rude @kamaldlk but again, please read the docs before opening issues. This is the third time from you.

[2018-03-30 03:18] #78 closed

[2018-03-30 03:21] nadbm commented on #77
I would just rewrite the css to remove the border as you want.

But if you want to override it quickly , this should work
[code]

[2018-03-30 03:26] nadbm commented on #79
Rendering an object doesn't make too much sense but I'm guessing it is automatically being converted to a string when it is displayed.
So if you just convert the arrays or objects into strings on your valueRenderer function, they should work without the change.

[2018-03-30 03:33] nadbm commented on #75
hey @teedoo did you figure this out?
I wanted to ask you if you could make a fiddle reproducing it ?

[2018-03-30 03:34] #70 closed

[2018-03-30 08:30] bartektartanus commented on #79
Not exactly. I'm trying to return value with button next to it, like this:

[code]

and this is rendered just fine. Calling `toString()` will return "value[object Object]" instead of a button, which is not what I want. Maybe there is a better approach to it?

[2018-03-30 17:18] nadbm commented on #79
So valueRenderer is very much meant for data only. If you want to have components in each cell you have two options currently :

Use the 'component' per cell:

https://github.com/nadbm/react-datasheet#cells-with-underlying-component

or use the 'cellRenderer' option (preferable):

https://github.com/nadbm/react-datasheet#advanced-options
https://github.com/nadbm/react-datasheet#cell-renderer

[2018-04-03 07:28] astegmaier opened #80 "Column/row widths/heights with headers"
I'm currently trying to use react-datasheet in the context of a project where I want my grid to have fixed (and user-resizable) column widths and row heights. Overall, I find react-datashsheet to be very simple and elegant--thanks again for contributing it! However, there were a few places where I was thinking it could be improved  - these would be necessary for my scenario and may benefit others

[2018-04-03 16:54] astegmaier commented on #80
Looking over open issues, it looks like there is some overlap between my goals and #59. The main addition is to have the heights and widths not change automatically as the user edits the data, and be resizable/selectable by the header.

I think this _might_ be achievable without modifying `react-datasheet` through extensive customization of the rendering hooks (#57) (I'll know more if I start goin

[2018-04-03 18:11] nadbm commented on #80
hey @astegmaier, I do feel that resizable columns is a much needed feature, even though extensive customization would probably make it possible to achieve that. Here are my opinions on the proposals :

1. I think this works well. I would deprecate the width right away as you mentioned as it only works if the renderer is not using a table.
2. This sounds good.
3: Im okay with this as well, but just

[2018-04-03 19:44] astegmaier commented on #80
Awesome! I like suggestion number 4 to use a function instead of an array of labels. For number 3, I think it might make sense to add a separate `headerRenderer()` hook (or possibly a `rowLabelRenderer` and `colLabelRenderer`) because resize handlers and col/row select behavior might be quite different from the grid cells. If I go with this approach, it would probably also be a good idea to allow

[2018-04-05 22:33] teedoo commented on #75
@nadbm thanks for getting back to me. I'm circling back to this issue and I'm still trying to figure it out. But the component below should give you the warning I see. Let me know if you cannot reproduce it.

[code]

[2018-04-06 16:30] orangedonkey opened #81 "OnKeyDown handle on Cell"
To allow a key press by the user to indicate whether or not to enter edit-mode.

e.g. The user has selected a numeric cell - if the user now pressed the key '1' then enter edit mode and update the value to 1. If they hit a non-numeric key do nothing. This would all be logic in the OnKeyDown handler implemented by the developer.

This allows the user to skip the step whereby they have to focus the

[2018-04-09 15:21] softmarshmallow opened #82 "Passing Custom Class Object as value."
What im trying to achieve
i want to pass an Object Value. and display and edit only property of that object.

[code]

grid = [[{ value: data }]
           [{ value: data }]]

[code]

ok. im cool with that.

bu thow to modify only A property of value passed.

i've tried some approach using

`{ value: value, dataEditor: CustomEditor}
`

[code]

and the value would be displayed as >> "".
so i cannot

[2018-04-09 15:24] nadbm commented on #82
curious as to what you are trying to display, but you can use the following to customize what you display:

valueRenderer={(cell) => cell.A} //or any combination to form a string

[2018-04-10 13:14] mdanielcristian opened #83 "Copy-Paste from excel error"
Whenever I copy-paste from excel more that one row, whether we are talking about changes or additions, I receive one extra change/addition with value "" in the onCellsChanged handler (on a row that doesn't have changes/additions).
Should be easy to reproduce.
In the example below I have 3 rows with OOB rendering, simple text as follows:
  - 1 2 3 on first row
  - 4 5 6 on second row
  - 7 8 9 on l

[2018-04-10 13:45] mdanielcristian opened #84 "Paste not working in IE"
Paste is not working in IE.
The onCellsChanged and parsePaste handlers are not triggered

[2018-04-10 15:48] nadbm commented on #82
Any reason you're using class instance instead of a simple object?
[code]

[2018-04-10 15:54] nadbm commented on #83
Seems like excel is pasting data oddly. You might wanna use the `parsePaste` to remove any odd delimiters:
https://github.com/nadbm/react-datasheet#options

[2018-04-11 13:05] mdanielcristian commented on #83
Ok, will do, thanks.
Since it was the default parsePaste method being used, I thought you might want to include a fix in the next release.

[2018-04-11 13:05] #83 closed

[2018-04-11 13:17] mdanielcristian commented on #84
After a bit more digging I found why it isn't working.
On chrome, the paste event is triggered every time you paste on the document. In ie, it first checks if the focus is on an input element and if so, it triggers the event, if not the event is not triggered. Since when you first click on a cell you are on a div (not an input) the paste event is not triggered.
I have a quick fix, not the best, bu

[2018-04-13 19:33] wfortin commented on #70
Any reason why this isn't published in npm? I'd love to be able to use the TS definitions.

[2018-04-13 19:47] nadbm commented on #70
Seems like I never published 1.3.4, my bad @wfortin. It's up now

[2018-04-13 19:48] #82 closed

[2018-04-13 19:50] nadbm commented on #84
Ideally I would love to avoid detectIE in the code, truth be told, I did not test with IE.
I will keep this open for anyone looking to make this work in IE .

[2018-04-13 20:00] nadbm commented on #81
I like the idea. I'm thinking something like this:
[code]
What do you think @orangedonkey

[2018-04-13 20:01] wfortin commented on #70
Great thanks!

[2018-04-16 05:01] shawnmitchell commented on #70
N00b question here. I see `"main": "lib/index.js",
  "types": "types/react-datasheet.d.ts"` in the project's package.json but it seems yarn didn't install it. Any help would be appreciated!

[2018-04-16 14:47] monikaxx opened #85 "For copy paste extra cell shown as selected"
When we do copy paste, extra cell is getting selected.
Steps to reproduce :
1. open any sample excel file
2. copy value from it
3. paste in datasheet
4. extra cell getting selected

[2018-04-16 14:48] monikaxx commented on #85
ReactDataSheet onCellsChanged needs blank value check condition

[2018-04-16 16:04] nadbm commented on #85
this seems like a excel specific issue, I'll have a look soon but for now you can use parsepaste props as mentionned here #83

[2018-04-17 16:58] astegmaier commented on #70
@shawnmitchell and @nadbm - I think this might be a bug. I think we need to add the `types` folder to the `files` node in `package.json`. Sorry for not catching this - my testing was focused on consuming it based off of my local repo, but I didn't try actually creating the npm package.

A quick workaround while you wait for the fix would be: clone the nadbm/react-datasheet locally, and run `yarn l

[2018-04-17 17:04] nadbm commented on #70
@shawnmitchell added the types folder in the file node. Let me know if this works for you @shawnmitchell

[2018-04-18 05:51] dfengbgl commented on #81
@nadbm Your idea is good. We expect that when you press enter, it should go to the next cell, not enter edit mode. Thanks. And your idea could fix this issue.

[2018-04-18 05:55] dfengbgl opened #86 "Focus on cell when move up and down, or tab and enter"
I added a scrollbar for the rows, however when I use keyboard to move up and down, the scrollbar does not move accordingly. It seem like it is because a focus event to the cell is missing.

[2018-04-23 17:49] kamaldlk opened #87 "Help Needed in context menu"
@weswigham I'm trying to add context menu below image I'm not able to get Menu can anyone help me on this
![screen shot 2018-04-23 at 11 18 32 pm](https://user-images.githubusercontent.com/9652523/39143865-b468e7c8-474c-11e8-8e57-f3609fb601d0.png)

[2018-04-23 17:55] weswigham commented on #87
So, I last used it a long time ago, but I was just using https://github.com/weswigham/crossword-filler/blob/master/src/components/Grid.tsx#L32 which was set by https://github.com/weswigham/crossword-filler/blob/master/src/App.tsx#L134 - I was using it to capture right-click and disable the default context menu. The stable API may have changed a bit since then.

[2018-04-23 17:58] nadbm commented on #87
@kamaldlk you can use the "event" from onContextMenu prop to determine where in the page the right click was called. From that you can place your custom context menu.
Something like this: http://jsfiddle.net/ga7mm3cc/

[2018-04-23 18:00] nadbm commented on #86
Yes you are correct, currently the page does not focus to a cell. Im guessing this is a fairly simple change to make. PR is welcome

[2018-04-23 18:02] nadbm commented on #85
@monikaxx  the parsePaste function takes your raw pasted string. You should remove any extra space, commas or tabs that comes from pasting from excel.

[2018-04-23 18:02] #77 closed

[2018-04-24 10:11] kamaldlk commented on #87
@weswigham , @nadbm yes I did Working Thanks : )
![screen shot 2018-04-24 at 3 41 05 pm](https://user-images.githubusercontent.com/9652523/39180983-ebecbe52-47d5-11e8-839f-51225c3d7a9c.png)

[2018-04-24 10:11] #87 closed

[2018-04-24 14:11] Snakeyyy opened #88 "possibility to add extra rows on paste from clipboard"
Current state: If pasted data contains more rows than datasheet these extra rows are forgotten.
Proposed state: optionally - if pasted data contains more rows than datasheet, extra rows are added to datasheet.

[2018-04-24 16:25] nadbm commented on #88
See onCellsChanged and the array of additions parameter, it is not discarded, you can use them to expand your initial data if necessary

https://github.com/nadbm/react-datasheet/blob/master/README.md#oncellschangedarrayofchanges-arrayofadditions-handler

[2018-04-27 06:54] patrick-jones commented on #75
The problem is this:

`<td {...rest} style={style}>`

`rest` includes a boolean property called `editing`, which is not a valid attribute for an HTML `td` tag.  You need to eat the editing property when you destructure props so that you aren't passing it on to the `td`:

[code]

[2018-04-30 02:49] SathishRaju opened #90 "How to 'undo' ?"
How to undo an edit? Is this on the roadmap?

[2018-05-01 11:59] arjan commented on #90
You should save your grid state before changing it in your `onCellsChanged` callback. Then, when you perform the undo, simply switch back to the previous grid. You could even create a stack of undo-operations this way.

[2018-05-02 05:22] kamaldlk opened #91 "need Help on cell selection Ui"
@nadbm while selecting cell range UI looks something need to improve, is there any option to do
![screen shot 2018-05-02 at 10 52 29 am](https://user-images.githubusercontent.com/9652523/39506541-d3fa10c0-4df6-11e8-8a78-faac17092ee8.png)
![screen shot 2018-05-02 at 10 51 43 am](https://user-images.githubusercontent.com/9652523/39506542-d8972fdc-4df6-11e8-8ea6-1d8d9b19f31f.png)

[2018-05-06 03:50] nadbm commented on #91
Are you talking about the white spacing?
The cellspacing can be added via the css. Otherwise there isnt any option to make it look like that

[2018-05-06 03:50] #91 closed

[2018-05-06 03:51] #90 closed

[2018-05-07 14:58] #85 closed

[2018-05-25 08:14] souppower commented on #84
:+1:

[2018-05-27 18:35] greatwillow commented on #86
I've just made a PR that should add this functionality @nadbm .  See: #92 .

[2018-05-30 22:06] shawnmitchell opened #93 "Is there a way to get the values of an excel drop-down list when that cell is pasted to a react-datasheet?"
If I paste a drop-down list from an excel spreadsheet to a ReactDataSheet component I get the current value but not the list of possible values. Is there a way to retrieve the whole list of options?

[2018-05-31 01:00] nadbm commented on #93
Hey @shawnmitchell, not sure I understand correctly, if you copy from excel, if it doesn't get transferred to the clipboard, there is no way for a component to retrieve it.

[2018-05-31 01:01] #93 closed

[2018-05-31 01:02] shawnmitchell commented on #93
Fair point :-/

[2018-06-02 20:13] greatwillow opened #94 "Mocha giving timeout error on testing"
On running the test script, a timeout error is being generated, resulting in failed tests.  Here is a screenshot of the error:

![timeouterror](https://user-images.githubusercontent.com/15651001/40880485-e9e370a6-667f-11e8-93e7-141d92eaf43b.png)

[2018-06-02 20:18] nadbm commented on #94
@greatwillow is this after any changes? I checked out the master branch just now and it seems to be running fine

[2018-06-02 20:55] greatwillow commented on #94
Ok @nadbm !  I was checking this on a fresh pull from master so the codebase should have been inline with yours, however, perhaps your system is running faster than mine, and so would not cause this error for you?  There is a simple fix for this that I am creating a pull request on, though can be cancelled if you see it as unnecessary.

[2018-06-04 16:04] BluFoot opened #97 "Using a key to leave a cell triggers onChange twice"
Pressing enter for example first triggers `DataCell::handleKey`, calling `handleCommit`, calling `onChange`.

Then on the next render, `componentDidUpdate` is called, which again calls `onChange`.

[2018-06-05 07:37] souppower opened #99 "In IE, it's unable to edit cell value when not in the edit mode"
Env: IE11 (Windows 7)

## How to reproduce
- First click on a cell, and type something.
- Then, click on another cell. This, in effect, releases the currently selected cell, and chooses a new cell.

The newly selected cell doesn't accept whatever value you type in.
Clicking on the cell one more time, however, enables you to edit the cell.

## Quick fix

Not sure if this is the best fix, but it see

[2018-06-05 13:40] nadbm commented on #97
The ```onChange``` api causes that as it's called on every state change. Use the following API instead:
https://github.com/nadbm/react-datasheet#oncellschangedarrayofchanges-arrayofadditions-handler

[2018-06-05 14:08] jrball3 commented on #97
@nadbm The onCellsChanged falls victim to this problem as well, but maybe under different circumstances.  It's my understanding that if we chain some actions that alter the data that feeds the cells value off of `handleCommit`'s first call to `onChange`, then by the time the second check comes around in `componentDidUpdate` the state has changed and triggers the `onChange` handler again.  As a res

[2018-06-05 14:12] nadbm commented on #97
Right, I just noticed this as well. I’ll try to find a proper fix for this asap

[2018-06-05 18:46] nadbm commented on #97
fixed on @7027ad0db5d54a36f49ebef77dcdae4ea8ade976

[2018-06-05 18:46] #97 closed

[2018-06-08 20:50] darajava opened #102 "Programatically select a cell?"
Is it possible to automate selecting a cell?

Something as simple `grid[row][col] = {value, selected: true};` in `onCellsChanged`, or some other way.

I can't seem to find a way to do this.

[2018-06-08 21:40] nadbm commented on #102
https://github.com/nadbm/react-datasheet#advanced-options
I think you're looking for the selected option.

[2018-06-08 21:50] darajava commented on #102
Thanks for the fast reply, you solved my problem! Although I did notice that when the selected option is present, but undefined it doesn't allow manual selection. I think this shouldn't be the case, and it should check for the value of the prop, not the existence of it. Leads to some messy code for me.

Thanks again!

[2018-06-08 22:01] darajava commented on #102
Also, even when the selection is present and in correct form, the user is not allowed to manually override the select. Is there a workaround for this?

[2018-06-08 22:06] nadbm commented on #102
Hey @darajava , that prop was added to make selection fully controlled, you can achieve the user select as long as you combine with the "onSelect" prop.
 https://github.com/nadbm/react-datasheet/issues/60

[2018-06-08 22:18] darajava commented on #102
Thank you :)

[2018-06-08 22:18] #102 closed

[2018-06-10 21:14] darajava opened #103 "Rich text?"
Is there any way to be able to paste rich text with the default settings? It'd be a really nice feature

[2018-06-11 15:16] brunowego opened #104 "Add more rows when paste data"
I set 10 rows by default, but when paste a data with 20 rows, not adds dynamically more 10 rows. Have a special settings to do this? Thanks.

[2018-06-11 15:25] nadbm commented on #104
No special settings, just use the onCellsChanged handler, the second attribute is the additions
https://github.com/nadbm/react-datasheet#oncellschangedarrayofchanges-arrayofadditions-handler

[2018-06-11 15:26] #104 closed

[2018-06-16 07:18] kamaldlk commented on #62
@iddan i tried your solution and did not worked :/ is there any update

[2018-06-16 11:30] iddan commented on #62
What did not work?

[2018-06-19 13:34] kamaldlk commented on #62
@iddan needed Help on virtual columns and Rows implementation please provide me some input

[2018-06-19 17:24] stahlmanDesign opened #105 "Modifiers like Shift, Ctrl, Commands, Alt to add/subtract selected cells"
Is it possible to use Shift to add more cells to a selection?

Example, select some cells, scroll the datasheet so reveal more cells, shift+click+drag to add to the initial selection.

Currently the initial selection is lost.

If this is possible, it could be extended to support cmd/ctrl/alt to unselect some cells…

[2018-06-19 17:30] nadbm commented on #105
Not currently, but shouldn't be too difficult to add this.
The only complication I can imagine is that the selection is done via "start cell" and "end cell" and everything in-between is highlighted.

[2018-06-27 10:22] jadelmir opened #106 "Componet sheet"
what CSS file should be used for the component sheet when I use the CSS of the index.css
component selection dropdown is not shown as expected
![screen shot 2018-06-27 at 1 20 56 pm](https://user-images.githubusercontent.com/31207632/41968390-f4c784b2-7a0c-11e8-8af3-dfcbb9968cee.png)
it shows like this, not as a real drop-down can anyone help with this issue I will grateful

[2018-07-03 13:55] nadbm commented on #106
what kind of dropdown are you using? If you using something like react-select, make sure its css is also included

[2018-07-06 08:44] sohymg opened #107 "Passing ClipboardEvent instead of String to parsePaste"
Hi, would like to suggest changing `parsePaste` to accept `ClipboardEvent` or `ClipboardData` as an option besides string.  Based on our experience, parsing paste via string for multiple cells is quite flaky and we would like get the data via HTML, ie `e.clipboardData.getData('text/html');` and parsing the HTML tables directly.

[2018-07-10 09:29] sohymg commented on #5
Yes can this be possible?

[2018-07-12 21:14] marekdano opened #108 "Copy a cell value to other cells with drag-n-drop, similar like it's in Excel."
Is it possible to add feature of copying a value from a cell to other cells?

The feature can be implemented in similar way like it's implemented in Excel.
In the bottom of right corner can be a small dot or square and when you hover over it, the cursor changes to a cross. Dragging the cross and highlighting other cells vertically or horizontally, the value will be copied to the highlighted cells

[2018-07-12 21:16] nadbm commented on #108
Currently not possible but welcome to PRs

[2018-07-16 06:27] Angeliz opened #109 "style seem to be something wrong"
it works like that
![image](https://user-images.githubusercontent.com/28487586/42745150-c45f817a-8903-11e8-92ed-eb6f9bd000b9.png)
I try to change some styles...it works
![image](https://user-images.githubusercontent.com/28487586/42745225-1e70fd74-8904-11e8-89d0-9b4c9140e317.png)
![image](https://user-images.githubusercontent.com/28487586/42745265-58cd9a36-8904-11e8-9d20-e22416d88265.png)

[2018-07-17 13:23] soulclown opened #110 "Copy and Paste overflow rows got lost"
I find the library well done and very useful.
I have troubles using the feature of copy and paste when the original clipboard contains more lines then data has in the begin.
I try to describe the problem i cannot solve with a practical example:
1. i have 5 elements in `data` prop: the library renders **5** excel rows;
2. I use the method `parsePaste` to manipulate the clipboard and returns **10**

[2018-07-17 14:07] nadbm commented on #110
@soulclown The second argument is what you need:
https://github.com/nadbm/react-datasheet#oncellschangedarrayofchanges-arrayofadditions-handler

[2018-07-18 07:44] soulclown commented on #110
Thanks @nadbm  !

[2018-07-18 07:44] #110 closed

[2018-07-20 17:47] shawnmitchell opened #111 "Extra cell modified on paste"
Copy this:

<img width="417" alt="copy" src="https://user-images.githubusercontent.com/3594613/43017167-2b8bb90a-8c23-11e8-875a-4f58cccae86f.png">

Paste and get this:

<img width="733" alt="paste" src="https://user-images.githubusercontent.com/3594613/43017192-39dbb456-8c23-11e8-8d4f-a37376bfb4a6.png">

Not sure what is causing that blank cell update to be added. Any help would be greatly appreci

[2018-07-20 17:50] nadbm commented on #111
@shawnmitchell where are you copying from? Currently the parser looks for "\n" for a new row and "\t" to assume a new column. You can use your own custom parser via : parsePaste
https://github.com/nadbm/react-datasheet#options

[2018-07-20 17:55] shawnmitchell commented on #111
Thanks for the instant reply! Copying from Excel in a Windows VM. Will check out what's received in parsePaste.

[2018-07-20 18:49] shawnmitchell commented on #111
It does appear that this is related to copying from Excel running in Parallels. Numbers, Excel Online, etc. all work as expected.

[2018-07-20 19:05] shawnmitchell commented on #111
This seems to have fixed my issue

[code]

[2018-08-03 20:32] slope-taylor commented on #105
+1, would love this feature.

[2018-08-08 00:43] JH-Baek commented on #84
@mdanielcristian, thanks for your solution. I have tried your solution but unfortunately, this does not seem to be working anymore. I am thinking that changing in version would be one reason. I will try to edit some of my DataSheet.js to get copy and paste works in ie. However, if you have already done it, can you share?

[2018-08-11 18:37] NiranjanShah opened #112 "Help Wanted | Backspace & Enter key navigation"
Can we program the excel sheet in such a way that **Backspace key** takes to previous column and **enter key** to the next column and at the end of the column in text to next row and if it is last row it must add a new row.

[2018-08-14 22:05] brandonburr commented on #105
also would love modifier keys to work with keyboard navigation. ie shift+down_arrow to extend selection down, etc.

[2018-08-20 09:47] nothingp opened #114 "This component supports IE8？"

[2018-08-21 09:39] educastellano opened #115 "readOnly prop on the DataSheet component"
It would be useful to just pass a prop when you want the entire sheet to be readOnly, so it would save me to loop all the cells.

Would you accept a PR with this feature?

[2018-09-07 23:33] slope-taylor opened #116 "Pasting multiple cells doesn't act as expected if selection is created from the bottom up"
Pasting appears to always paste from the "start" selection cell and go downwards, so if a user copies 3 cells, selects 3 cells to paste into from the bottom up, and then pastes, the cells paste from the bottom most cell of the selection and go downward.  This seems counter intuitive.

[2018-09-09 10:54] saityro opened #117 "Apply formats to cell editor"
Hello there!
first of all, I tried several tables and i'm loving this one in particular, awesome work!

I'm trying to apply especific formats to different cells' input.  I will probably learn to use your existing component: (...) prop to create different types of inputs there but i realized that it may be nice to have a `"format": ""` tag that can control the input type in the grid elements.

For

[2018-09-10 13:32] slope-taylor opened #118 "Passing in an onSelect function seems to break the built-in selection/keyboard nav"
Passing in an onSelect function, even one that doesn't do anything, changes the behavior of the grid such that keyboard nav no longer works unless you double click a cell first and then exit the editing.  Similar problems with multi-select, etc when an onSelect function is passed.  I would've expected this to just be a callback, is that not the case?

[2018-09-10 13:51] nadbm commented on #118
hey @slope-taylor onSelect must be used in conjunction with selected
[code]

[2018-09-10 13:56] nadbm commented on #117
hey @saityro , thank you for the praise.
The validation was purposely left out.

[code]
Insert a validator here, you have access to your cell ie cell.format if you like.
[code]

[code]

[2018-09-10 14:08] slope-taylor commented on #118
Hi @nadbm ! Thanks for the quick response!

I tried your suggestion, but this appears to break the functionality in a different way.  The onSelect seems to execute in a continuous loop once I click on something, as if the mouseUp event never fires.  Dragging the mouse around after clicking on a cell continues to select other cells even though I've let up on the mouse button.  It's worth noting tha

[2018-09-10 14:13] nadbm commented on #118
hey @slope-taylor , can you make a fiddle ?

[2018-09-10 15:22] slope-taylor commented on #118
@nadbm While trying to make a fiddle, I came across the root cause.  It appears that using a non-arrow function for sheetRenderer with a "this" binding is what was causing the behavior.

For example:
`<Datasheet
   selected = this.state.selected
   onSelect = (selected) => this.setState({selected: selected})
   sheetRenderer = {this.sheetRenderer.bind(this)} // This is a problem.
/>`

I was able t

[2018-09-10 19:53] nadbm commented on #118
@slope-taylor I would need to see the full code to be certain binding within render can definitely cause issues.
The sheet renderer function you are passing is being created every time the render function is being called. bind(this) creates a new function every time.
Im guessing every time you are calling this.setState() , your top level component is being re-rendered, and thus sheetRenderer is be

[2018-09-10 19:58] slope-taylor commented on #118
@nadbm That makes sense, thanks for your help.  It's probably not worth trying to recreate since the way I was binding is really a performance problem in react anyways, and users of this library hopefully aren't binding like that.

[2018-09-10 19:58] #118 closed

[2018-09-10 20:06] nadbm commented on #116
The fix for this is fairly simple as the [current implementation](https://github.com/nadbm/react-datasheet/blob/master/src/DataSheet.js#L142
) just pastes forward.
Before implementing however, consider google sheets: I do believe the implementation reflects that.

[2018-09-10 20:11] slope-taylor commented on #116
@nadbm Google sheets functions the way I would expect, where the top/left-most cell of the selection is the starting point for the paste.  Google does, however, leave the original starting cell selected for keyboard nav, but that implementation would be more complicated than needed initially, I would think.

[2018-09-10 20:13] nadbm commented on #116
@slope-taylor Ah I see what you mean. That makes sense, the simple fix is to compare the start/end selected values and choose the smallest indexed cell to start pasting.
The keyboard nav could probably also be achieved, but that's a seperate issue

[2018-09-10 20:16] slope-taylor commented on #116
@nadbm Yep, I agree.  The fix is simple like you said... if I could get a working repository going I'd put in a PR myself, but I'd been having some trouble.  I'll see if I can't get something going.

[2018-09-11 10:09] Trireir opened #119 "When you use the custom component cell, you are not able to modify their props"
If you use a custom component for a cell, and have the info saved in a reducer f.e., you are not able to modify the props of the component.

In my case I'm creating the datasheet dynamically with some info stored in a reducer. The problem came when I modify that info, because i'm not able to modify the props sent to the component.

In my opinion, this could be solved easily adding a new value to t

[2018-09-11 17:29] witalewski commented on #116
Hi,

I was looking for open source projects on GitHub I could make small contributions to, just for practice.

I created a PR which solves this issue: https://github.com/nadbm/react-datasheet/pull/120

Apart from pasting to cells selected from bottom up, it also covers the cases of cells selected from right to left or in multiple rows and columns (top right to bottom left, top left to bottom right

[2018-09-13 07:28] jadelmir opened #121 "How to freeze a column"
I am wondering if there's anyway to freeze a column in the sheet

[2018-09-13 12:52] Trireir commented on #121
You can add the _ readOnly_ prop in each cell of that column. If not, you can add a _onChange_ function that avoid the modification in that specific column.

[2018-09-16 22:34] saityro commented on #117
Awesome! It works like a charm :). And playing with it I understood more stuff about the code :)

Being one of the features that people coming from excel is used to, you don't think is a good idea to add it in a more native way? Maybe in one of the examples or in the doc? I'm kins of new to react but just tell me if I can help

Thank you again for the answer!

[2018-09-16 22:34] #117 closed

[2018-09-18 03:03] bexoss commented on #109
Yes... It should be fixed. I waste so much time.

[2018-09-18 03:10] bexoss commented on #109
[code]

[2018-09-18 10:40] robotanz commented on #111
I have a similar issue when copying from Excel (Windows 10). When taking a range of 3 values of the same column, the paste action actually modifies 4 values: the 3 first are correct and the fourth is an empty cell, overwriting previous value...

[2018-09-18 21:44] patrick-jones commented on #119
You can already do this by using a custom renderer. See, for example, [the `dataEditor` in the readme](https://github.com/nadbm/react-datasheet#custom-renderers) or the ["Sheet with Customer Renderers" example](https://github.com/nadbm/react-datasheet/blob/79e31e120afc03810847b56c0fd497dc94e82d7e/docs/src/examples/CustomRendererSheet.js).

To handle your specific case:

[code]
If you want to show

[2018-09-25 16:10] Trireir commented on #119
Okey, sounds good for me. I'll try to update my project to fit in this idea. Thank you :)

[2018-09-25 16:11] #119 closed

[2018-09-27 13:29] stmoreau opened #124 "Clean up codebase"
- get rid of not needed packages
- download needed packages
- get rid of semicolons
- get rid of unused imports

[2018-09-28 00:53] ChenRoth opened #126 "navigation is inverted when table is rtl"
hey

i'm using the default datasheet behaviour, and since my app has to be in `direction: rtl`, the navigation keys are inverted (e.g. hitting left key actually navigates right in the grid)

is there an existing solution to making this right, or is a PR required?

[2018-09-30 08:22] ChenRoth opened #127 "trying to use a custom dataEditor, but unable to commit when clicking on another cell"
hey

I'm trying to use Material UI TextField as my custom data editor.
I've wired the keyboard events to the `onCommit` prop and everything works fine when I hit `Enter` to save the changes.

However, if I click on another cell while editing, the changes are not reflected immediately but only if I click again on the edited cell.
 I have no way to wire the component's `onBlur` to `onCommit` (I assu

[2018-09-30 15:37] nadbm commented on #127
Hey could you make a fiddle with this? You shouldn't have to use handleKey and onCommit because that is already the default behaviour.
The onChange should update the data from the props and clicking on another cell should automatically commit that.

See the following:  https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/CustomRendererSheet.js#L106

[2018-10-01 03:07] nadbm commented on #126
unfortunately no existing solution exist, PR is required.

[2018-10-12 17:36] #121 closed

[2018-10-12 17:37] #75 closed

[2018-10-12 17:37] #53 closed

[2018-10-12 17:43] #51 closed

[2018-10-12 17:43] #36 closed

[2018-10-12 17:45] #111 closed

[2018-10-12 17:47] nadbm commented on #46
Closing this for now, onChange should ideally be deprecated in favour of onCellsChanged

[2018-10-12 17:49] #76 closed

[2018-10-12 17:49] #79 closed

[2018-10-16 17:09] patrick-jones opened #128 "Typescript: return type of keyFn"
`keyFn` is currently typed to require a number as the return value. It should really be a string, although numbers are ok. I have a PR for this.

[2018-10-17 16:59] ZackKnopp commented on #109
Happening to me too. I'm curious why the height in here is 17px:
[code]

But the height in here is 11px:
[code]

[2018-10-17 17:10] ZackKnopp commented on #109
This seems to be happening because in one instance it counts the padding and border as extra to the height and in another instance it includes it in the height. See the pictures below for what I mean.

**Padding and Border Included:**
![capture](https://user-images.githubusercontent.com/11788945/47103650-19470b80-d216-11e8-91bf-5bba99879c9f.PNG)
![capture3](https://user-images.githubusercontent.co

[2018-10-23 10:20] tomsutton opened #130 "Cell navigation"
For a table with columns A:B and rows 1:10, where A1:A10 are single cells, then B1 and B6 are cells with rowSpan 5 (merging B1:B5 and B6:B10).
Hitting the down arrow from B1 does not go to B6 as you'd expect, instead it doesn't move.

There is a similar issue with colSpan.
In a table A1:D2, where A1 has colSpan 3 (merging A1:C1), pressing up from B2 goes to D1, while you'd expect any of A2, B2, C2

[2018-10-30 19:10] idowolf opened #131 "Change background color to a cell?"
I set a "className" to a cell and set custom attributes in my CSS file. When I set "color" property, the text's color changes, but not the cell's background color. "background-color" and "fill" don't do anything as far as I can see. I couldn't find information about it in the examples. How can I set the cell's background color?

[2018-11-09 13:00] Emsu opened #132 "Always "on" dataEditor"
I'm trying to setup a checkbox as a dataEditor but then I realized since it's either true of false, I should just always show the checkbox and there should be no value viewer vs data editor since the user wouldn't want to click into the cell to go to edit mode and would prefer to toggle the value directly.

forceComponent and component doesn't pass the onChange prop (and I saw in another issue tha

[2018-11-10 19:34] shawnmitchell commented on #132
I got a checkbox column working by using the cell properties `component` and `forceComponent`

[2018-11-11 05:17] Emsu commented on #132
@shawnmitchell Do you mind sharing how? Because you don't get props passed into the component as you do in valueViewer and dataEditor, it seems like I'll need to hack an onChange hook into the component. Also fyi, I saw in another thread that forceComponent and component are intended to be deprecated.

[2018-11-11 05:38] shawnmitchell commented on #132
I did indeed hack away at it.

[code]

It would be better to be able to forceEditor, I agree.

[2018-11-13 07:03] nitheeshskiploop opened #133 "On click how to get row index"

[2018-11-13 07:04] nitheeshskiploop commented on #133
i want a button inside cell which will give row and column index on cell

[2018-11-13 19:37] nadbm commented on #133
There is no onclick handler by default, do you have a custom renderer?

[2018-11-15 08:03] blankzust opened #134 "How to set heght of cells dynamicly"
I can change the width of cells using 'width'.But there is no 'height' for me to change height.
Could you please tell me how to do it?Thx!

[2018-11-15 12:45] kamaldlk opened #135 "cmd +Shift selection Possible ?"

[2018-11-28 20:54] zgazak opened #137 "Enter as newline in cell being edited"
Loving this repo!  What is the best way to add a custom key press handler so that cells can register a new line instead of ENTER_KEY committing the change and exiting the editor?

[2018-11-28 21:57] nadbm commented on #137
You need to have a custom data editor per cell:
https://github.com/nadbm/react-datasheet#custom-renderers
https://github.com/nadbm/react-datasheet#data-editor

Here's an example being used:
https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/CustomRendererSheet.js#L57

[2018-11-29 00:39] zgazak commented on #137
Thank you so much, I was looking in the wrong place.

[2018-11-29 00:39] #137 closed

[2018-12-19 07:37] blankzust commented on #134
I find a way.A td can not be set height and width for the display way of 'table-cell'.But I can set the content's height to distraction

[2018-12-19 07:37] #134 closed

[2018-12-27 06:34] leonid-shevtsov opened #139 "Typescript: getSelectedCells return type is a single cell, should be an array"
See here:

https://github.com/nadbm/react-datasheet/blob/593243abba6adf72a1fdfe4288be5c544c64fd6c/types/react-datasheet.d.ts#L234

The function always returns an array of `selectedCells`, so the return type should be an array instead of a single element of the array.

[2018-12-31 23:21] nihey opened #140 "Provide the location of the pasted information on `parsePaste`"
I'm building a feature for my application in which I would like the grid to auto grow when I paste more data than the number of cells the table has.

For this, I would need access to the location of the pasted data, e.g.:

- My grid has `100 rows`
- The user pastes something that has `80 rows` on row `#40`
- I have to resize my grid should now resize to `120 rows`.

[2019-01-01 00:10] nadbm commented on #140
@nihey The problem you’re describing is handled via “onCellsChanged”, its second parameter “additions” passes the overflowing pasted members

[2019-01-01 02:38] nihey commented on #140
@nadbm Oops, completely missed that one! But thanks for pointing me on the right direction, I'll handle it this way, it should be cleaner.

[2019-01-01 02:38] #140 closed

[2019-01-07 06:13] #135 closed

[2019-01-07 14:42] #128 closed

[2019-01-17 22:00] derblitz opened #142 "Sheet selections on sheet with rowspan and colspan incorrect"
When using colspan and/or rowspan in a sheet, the selections are incorrect (see attached gif please).

It seems that the method used to check whether a cell is selected or not, does not consider the possibility of colspan and rowspan - react datasheet selects cells like they were not "merged".

![colspan rowspan selections](https://user-images.githubusercontent.com/20650077/51351452-31dfef80-1aab-

[2019-01-29 15:10] slope-taylor commented on #116
This seems to work now that this PR is merged.  Thanks @witalewski !

[2019-01-29 15:10] #116 closed

[2019-02-28 11:13] niroshana1234 commented on #5
We are adding html drop down list for some cells if the use touch the cell. But in IPad we need a long press to trigger the cell click event. Is there way to fix this issue ?

[2019-02-28 16:06] mk48 opened #143 "ComponentSheet.js Example is not working with latest version of react-select"
Below example is not working with latest version of react-select

https://nadbm.github.io/react-datasheet/
![image](https://user-images.githubusercontent.com/3082469/53579813-45996e00-3ba0-11e9-92e0-b1362f1c21b6.png)

the above example is using "react-select ^1.0.0-rc.3" version which is very old, current version is 2.4.1

I copied the ComponentSheet (react-datasheet/docs/src/examples/ComponentShe

[2019-03-07 01:24] mitchellwarr commented on #131
If you mean the selected cells, currently they use an inset box-shadow for their coloring

[2019-03-14 08:18] mk48 opened #144 "(help) How to select cells dynamically?"
How to select a cell by clicking a button?
Selected option overrides default keyboard navigation.

Without affecting the default keyboard navigation, how to move the focus from one cell to another cell?

[code]

[2019-03-14 08:39] mk48 commented on #144
i got it from here
https://github.com/nadbm/react-datasheet/issues/118#issuecomment-419919153

so, closing this..

[2019-03-14 08:39] #144 closed

[2019-03-18 06:16] mk48 opened #145 "having issue with selected/onSelect/rowRenderer"
**Please try the below code sandbox**
https://codesandbox.io/s/xjp98zmyqz

I am trying to implement rowRenderer with controlled select option, facing issues with controlled selection and rowRenderer.

selected and onSelect works fine, but not with rowRenderer.
After selecting a cell the selection won't go away, while moving around all the cells are getting selected. Please try the code sandbox to

[2019-04-01 23:24] mitchellwarr commented on #105
I quickly tried to put something together with the mouseDown event for shift using event.shiftKey, then the set state would use the states start field instead

[code]

But I wound up with trouble with Reacts synthetic events to get the shiftKey field out of the mouse down event, and don't have time to catch myself up on how all that works.

I'd like to put my vote in for adding shift, ctrl, functi

[2019-04-02 21:59] sibelius opened #146 "does it make sense to move the codebase to hooks?"

[2019-04-03 02:46] mitchellwarr opened #147 "Windows scrollTop gets set to tables offset after editing"
Ideally the window will work like normal and stay in the same position when editing elements.

I've tracked it down to this line. Whats happening is that tabindex of 0 on the containing span makes focus work a bit differently and the window containing it scrolls to its position, leading to a jutteryness.

https://github.com/nadbm/react-datasheet/blob/963887e3cc12e00dfbff89513feabe7cabca1930/src/Da

[2019-04-03 12:01] sibelius commented on #132
I think we need to pass onChange to valueViewer to make this work well

[2019-04-03 12:08] sibelius opened #148 "pass onChange to valueViewer"
my case is to always render a checkbox, so when user clicks it should toggle directly the checkbox instead of going to edit mode

[2019-04-04 15:46] Vassi opened #149 "Cell width quirks"
There's easy ways to control column width uniformly but it'd be nice to have a feature on the Cell for it to preserve its width when in edit mode. Because of browser quirks with how inputs are treated vs spans (which can easily size to their content width) even setting the input to 100% doesn't quite get your cell to look the same in edit mode and in input mode.

Again, to be clear, I'd like to be

[2019-04-11 06:07] AjithkumarJM opened #151 "How to enable cell select option ?"
I can't really find where to enable cell select option. could you please help me with this?

[2019-04-14 19:12] nadbm commented on #151
@AjithkumarJM  Can you be more clear? You want to have cells preselected?

[2019-04-14 19:16] nadbm commented on #147
Hey @mitchellwarr can you reproduce this, small video maybe? Im unable to reproduce this error. If this is not focused, a "tab" will focus outside the table

[2019-04-14 19:20] nadbm commented on #142
Unfortunately the codebase does not consider colspan/rowspan. The selection of cells is done via a coordinate system (cell (a,b) => cell (c,d)).

[2019-04-14 19:20] #142 closed

[2019-04-14 19:28] #131 closed

[2019-04-14 19:37] nadbm commented on #143
Hey @mk48 , the react-select API changed slightly.
          autofocus -> autoFocus
          openOnFocus ->  defaultMenuIsOpen

The following is a working version:
https://codesandbox.io/embed/2oyo8745xp

[2019-04-14 19:37] #143 closed

[2019-04-14 21:39] mitchellwarr commented on #147
Hey so I have a small video uploaded on imgur for you to see this happening in action.
The spreadsheet sits in an overflowed div.

In order for the horizontal flow to happen the edited cell needs to be offset to the left further than the container is wide.

[Focus Event in Spreadsheet](https://i.imgur.com/uuSiJbc.mp4)

[2019-04-15 03:47] mk48 commented on #143
Thanks @nadbm

[2019-04-23 17:01] shawnmitchell opened #152 "Typescript value type question"
[code]

Why is value of type string or number or null and not simply of type V or `V | string | number | null`?

Thanks in advance.

[2019-04-30 19:44] shawnmitchell opened #153 "Event in Typescript definition for onCommit should be optional"
Intellisense hint states "if you pass a KeyboardEvent as the second argument..."
And the source code checks for a non-null value of `e`

But the type definition has the event as required.

If a custom component wants some other trigger to commit a cell value, it should be possible to omit the event.

[code]
[code]

[2019-04-30 19:46] shawnmitchell commented on #153
I have not contributed to OSS before but I'd be happy to create a pull request for this if the owner agrees it's an issue. I can probably also tackle #139 while I'm in there as it seems like a one-liner.

[2019-05-01 03:24] nadbm commented on #153
Thank you, the type file hasnt gotten much attention. Will merge soon

[2019-05-06 00:19] #152 closed

[2019-05-06 00:19] #153 closed

[2019-05-07 17:38] #139 closed

[2019-05-09 05:36] linonetwo opened #155 "Can you add keyword "table" to the description?"
I tried to search this repo in my star list, but found nothing.

After a struggle, I finally found that this repo use "grid" in its description, makes it hard to search!

[2019-05-27 22:36] mitchellwarr commented on #147
@nadbm does this explain it?

[2019-06-06 22:29] annjawn commented on #109
@ZackKnopp Can't thank you enough..... I was literally breaking my head trying to figure out how to solve this.

[2019-06-07 06:37] annjawn opened #158 "How to set fixed width of a cell?"
This is a very useful library, thanks to all the contributors for their work. I was hoping this would be simple enough to set the width of the cell but I can't seem to figure out how to use it.

How do I set the width of my cells to fixed? and also how do I make sure that the width remains the same after typing in a long text in it.

What could achieve so far is:

Before
<img width="483" alt="Scre

[2019-06-08 12:17] nadbm commented on #158
hey @annjawn, tried to reproduce your issue. Your second one (overflow='clip') should have worked. Can you try the following, add the fiollowing css:

[code]

[2019-06-08 12:23] #155 closed

[2019-06-13 20:29] annjawn commented on #158
Hey Sorry for the late response. I had to do this with the CSS to make it work. The Width `inherit` is what did the trick. I also had to do the `box-sizing: content-box` otherwise the editor `<input/>` was showing up with a weird shorter height.

[code]

[2019-06-13 20:35] #158 closed

[2019-06-13 20:51] annjawn commented on #149
This might help with maintaining the cell's width in edit mode.

[code]

[2019-06-14 14:31] nadrane opened #159 "always on editing?"
I'm hoping to replicate an  excel-like feature where, if a cell is highlighted, it is automatically editable. At the moment, datasheet seems to differentiate between "edit" mode and "view" mode. Only after double clicking on a cell or clicking "Enter" am I actually able to modify the contents of that cell. Is there a way to alter this behavior?

[2019-06-14 14:34] nadrane opened #160 "Auto highlight contents on edit"
In Excel, when I begin editing the contents of a cell, it will automatically wipe out the previous content, replacing it with what I type. In `react-datasheet`, all new keystrokes are appended to the previous content, unless the old content is specifically highlighted. I was wondering if there is a way to replicate Excel's behavior.

[2019-06-14 22:03] furst commented on #147
@mitchellwarr I had a similar issue but solved it by using react-window(for virtualization) and storing the scroll position on scroll. When dataSheet re-renders I use that previous scroll position along with `initialScrollLeft` and `initialScrollTop`

[2019-06-24 12:33] linonetwo commented on #103
use `slate` with `react-datasheet` is fun.

[2019-07-11 06:34] Jordan-Campbell commented on #159
You could modify the [`onMouseDown`](https://github.com/nadbm/react-datasheet/blob/00e68319bdc60850a7aca97680003ba3b6a34ad3/src/DataSheet.js#L396) function, using the behaviour from [`onDoubleClick`](https://github.com/nadbm/react-datasheet/blob/00e68319bdc60850a7aca97680003ba3b6a34ad3/src/DataSheet.js#L389).

[2019-08-08 13:50] patwalls opened #163 "Performance is horrendous"
I wish I knew this before pouring hours into this.

But if you're planning on using this in production with a potentially large datasheet (300 rows x 10 columns = 3000 cells), you will run into massive performance issues and it's very challenging to fix them.

This library is cool, but it's for toy apps.

Are there any good alternatives?

[2019-08-08 15:07] nadbm commented on #163
hey @patwalls, this is currently used in production with a similar dataset size. However, it definitely is not optimized for performance out of the box. This is especially true when editing data, as if you trigger the wrong state changes, all of your 3000 cells will re-render.

There's a few alternatives that implement a virtualized grid that you might want to look into:
https://blueprintjs.com/do

[2019-08-20 09:53] sangdth commented on #163
@nadbm  The handsontable looks good but it's commercial. Is it possible to implement react-virtualized into this lib?

[2019-08-20 14:31] #94 closed

[2019-08-23 10:39] konrad-garus commented on #44
This answer does not really feel correct. Selection is a grid feature, used for copy/paste and numerous other things. Setting a class on *my* components is just a bandaid to make it kind of look the same, which just adds confusion since it doesn't change behavior.

[2019-08-23 11:40] konrad-garus commented on #118
To the next poor soul who spends hours banging their head against the wall, here's a piece of advice.

I was running into the infinite loop nightmare with a trivial arrow function for `sheetRenderer`:

[code]

Using a stable and bound function reference did the trick:

[code]

However, using that same function in an arrow function leads to the loop issue again:

[code]

I would actually call it a

[2019-08-23 18:58] nadbm commented on #44
hey @konrad-garus, note that this question referred to "hovering" over. Not actually changing the selection.
I would suggest a controlled selection instead if you're planning on changing the selection https://github.com/nadbm/react-datasheet#advanced-options

[2019-08-27 10:58] polys opened #164 "React Warning: componentWillReceiveProps has been renamed, and is not recommended for use"
After upgrading React to v16.9.0, I started getting this warning in the console:

It would be nice if this was addressed before React 17.x I guess.
Many thanks!

[2019-09-03 12:46] polys opened #165 "Changelog or maintained GitHub Releases please?"

[2019-09-09 20:59] patwalls opened #166 "handleCopy question."
When copying data from a cell, I'd like to add quotes around it for cells that have multiple lines.

What's the best way to do this? I don't see anything in the docs about copying handlers but I do see something in the source code.

Thanks.

[2019-09-14 15:17] nadbm commented on #166
@patwalls Unfortunately handleCopy is not exposed as a prop. Feel free to make a PR for it

[2019-09-14 16:06] nadbm commented on #165
There is a release page, just not up to date as I'd like https://github.com/nadbm/react-datasheet/releases

[2019-09-14 16:06] #165 closed

[2019-09-15 08:59] polys commented on #165
Many thanks for the update  👍

[2019-09-20 08:25] TRUEJASONFANS opened #167 "Is it easy to extend to support row span function?"
Hi guys,
I'am looking for a excel-style table which support the row span function?
is this library support(I don't see the official introduction for it in the readme) or easy to extend?
thanks
Jason

[2019-09-25 04:01] annjawn opened #168 "Error on parsePaste"
It seems that `parsePaste` throws an error when copy pasting data from excel.

The error I am encountering is

[code]

My `Datasheet` is merely doing this...

[code]

The error seems to be coming from this line 👇🏽

https://github.com/nadbm/react-datasheet/blob/ef80a69659570166475f5d6520dd446d63e26ec0/lib/DataSheet.js#L264

[2019-09-25 06:59] praveens96 opened #169 "read/communicate between sheets"
i have a use case, where i need to have two data sheets in the same page.
now, i need to populate data in second sheet based on values in first sheet. is it possible to achieve it?

how to communicate the data between sheets? any help would be highly appreciated,

[2019-10-01 14:18] AFrey95 opened #170 "Dropdowns within cells?"
How would I go about using a different input element in a cell like a dropdown? Where would I give the props.children?

This doesn't work obviously, so what is the solution?

`  cellRenderer = (props) => {
    const {
      cell, row, col, columns, attributesRenderer,
      selected, editing, updated, style,
      ...rest
    } = props;

    if (col === 3) {
      return (
        <select value={c

[2019-10-09 00:02] mlwatkins opened #171 "Paste value of one cell into multiple"
I am trying to mimic excel-like functionality where copying one cell, selecting multiple cells, then pasting will copy that value into all the selected cells.

I am trying to use ```parsePaste``` to override the current functionality, but I don't know how to access which cells have been selected?

[2019-10-09 20:34] sdyalor opened #172 "ShadowDom Support"
I did get *react* work inside lit-element (custom element api)
But I'm having issues with this component ;c
I can not get this to function inside the shadydom
I dont know why, but I read the code and there is reference to the document object, so I think this could be the problem. Is there a way to get the library to work inside shadowdom too?

[2019-10-17 14:14] Flaneder opened #173 "Calling onCommit in DataEditor right before unmounting causes 2 changes in grid the first time"
# Bug or Feature?
Bug (might relate to #127)

# Steps to reproduce

1.  Add a custom DataEditor using `dataEditor` prop
1.  Call `onCommit` of custom DataEditor before unmounting (using return value of `useEffect`)
1. Start editing a cell with custom DataEditor **by clicking on it and starting to type** (no double click)
1.  Enter some value  and **click outside of cell** (no enter, tab ..)

**Exp

[2019-10-21 12:12] iashris commented on #147
@furst Can you show us your implementation for react-window integration for virtualization?

[2019-10-24 08:38] Flaneder commented on #164
Wouldn't it be enough to follow the third advice for now:

I would still keep this ticket open though.

[2019-11-05 12:33] leohbatista commented on #5
Is there any update on this?

[2019-11-08 10:48] yoshidax opened #175 "while editing text, mouse click on the same cell and press the arrow key to commit the edit"
![screen](https://user-images.githubusercontent.com/5839014/68470712-f55ec980-025f-11ea-9bf8-f4e57099b926.gif)

In this case, I think that `forceEdit` should not be `false` in the `setState` of the [mouseDown of DataSheet.js](https://github.com/nadbm/react-datasheet/blob/master/src/DataSheet.js#L412).

[2019-11-10 01:36] digancoder opened #176 "how to resize the column width?"
how to resize  the column width?

[2019-11-11 19:18] #175 closed

[2019-11-11 23:53] nadbm commented on #164
This is fixed with this merged PR: https://github.com/nadbm/react-datasheet/pull/178

[2019-11-11 23:53] #164 closed

[2019-11-12 09:09] polys commented on #164
Many thanks @nadbm!

[2019-11-12 09:57] praneethabet opened #179 "spfx typescript not working"
Hi,

I have installed react-datasheet in spfx and tried but styles are not getting applies.

Thanks

[2019-11-13 21:21] xihaoxiaohao opened #181 "How to select multiple cell like the demo"
I followed the `examples/BasicSheet.js` and it can show me the table. However, I want to make it like the demo that allows users to use the mouse to select multiple cells, how can I do that?

Also, where is the header css to make the headers background grey?

Thanks.

[2019-11-13 23:57] nadbm commented on #179
@praneethabet did you add the following?

[code]

[2019-11-13 23:59] nadbm commented on #181
@xihaoxiaohao
did you add the following?
[code]
as for the header css , those are located here:
https://github.com/nadbm/react-datasheet/blob/master/docs/src/index.css

[2019-11-14 01:02] xihaoxiaohao commented on #181
Hi @nadbm, it works if I use javascript, but I use typescript, it doesn't work. Below is my code.

[code]

And below is what it shows:

![a](https://user-images.githubusercontent.com/9826637/68817696-59ee9f80-0637-11ea-80dc-b5d31635603b.png)

[2019-11-14 03:28] nadbm commented on #181
The problem is not typescript. You are overriding the cellRenderer. You can ignore the cellRenderer.

But if you want to keep the cellRenderer, make sure to pass the className` prop own

[2019-11-14 03:33] nadbm commented on #171
hey @mlwatkins  sorry for the late reply. However if you still need help: the library does not support this out of the box.
However you can potentially mimic this behaviour by using `controlled select (see select/onSelect)` and parsePaste.

[2019-11-14 05:40] xihaoxiaohao commented on #181
Thank you!

[2019-11-14 05:40] #181 closed

[2019-11-14 14:30] jhagmar opened #182 "peerDependencies on prop-types >= 16?"
There is a peerDependencies entry for prop-types >= 16 in the latest revision in master. AFAIK, the major version of the latest prop-types is 15. Possible bug?

[2019-11-15 08:12] praneethabet commented on #179
i have added that as well but still its not working, if use native react its working, but when using with Sharepoint framework React its not working

[2019-11-20 00:40] xihaoxiaohao opened #183 "Auto select cell even when the mouse is not click"
Below steps leads to unexpected behavior:
1. Mouse click on any cell
2. Release the mouse
3. Move the mouse to hover other cells
4. The application will automatically select those hover cell

Codesandbox: https://4jdit.csb.app

Code:

[code]

[2019-12-11 12:45] nadzimo opened #184 "Handling context menu when multiple cells are selected"
Great library, thanks a lot for this!

When I have multiple cells selected and right-click to trigger `onContextMenu` of `ReactDataSheet`, the selection is going away and instead the cell I happen to right-click on gets selected.
What is the best way to trigger onContextMenu while keeping the selected cells selected?

[2019-12-11 15:49] nadbm commented on #184
Currently no. The current onContextMenu also passes back the cell it is referring to. However, changing the code to fit that need shouldn't be too difficult.

To update the code would be to do the following:
* Check the button clicked on "onMouseDown" and making sure it is not the context button.
* Pass all the selected cells on contextMenu function

[2019-12-11 17:35] nadzimo commented on #184
thank you – that's what I ended up doing.

[2019-12-11 17:35] #184 closed

[2019-12-13 11:09] power-f-GOD commented on #109
Can this issue be fixed, please, @nadbm? Thank you.

[2019-12-13 20:35] nadzimo opened #185 "DataEditor unmounts and remounts at every re-render of ReactDataSheet"
I noticed with a console statement on the `componentWillUnmount` function of `DataEditor` that every re-render of `ReactDataSheet` causes `DataEditor` to unmount then remount. This is causing messed up UIs for my case (my DataEditor has animations when it mounts).

I'm going through the codebase to understand what's going on, I'm wondering if this is related to anonymous functions or the `renderEd

[2019-12-14 05:38] nadzimo commented on #185
Closing this issue as found not related to the codebase.
If anyone else encounters this:
My ReactDataSheet was as follows:
[code]
cellRenderer is an anonymous function, looks like React recreates the component at every render in this case. To fix it, define a function `renderCell` in your class like so:
[code]
Hope this helps someone.

[2019-12-14 05:38] #185 closed

[2019-12-15 21:22] furst commented on #147
@iashris I ended up building my own sheet from the ground up for performance reasons. Even with react-window, the select-cell functionality did not keep up. Unfortunately, I don't have the old code on me anymore but I basically followed this example https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/OverrideEverythingSheet.js

[2019-12-16 01:53] pjebs opened #186 "Humongous amounts of data"
Can this library handle HUMONGOUS rows of data in a memory-reasonable manner?

[2019-12-16 02:31] pjebs commented on #186
@power-f-GOD

[2019-12-17 12:54] Sagar-Tomar commented on #143
Thanks nadbm , Saved a lot of time.

[2019-12-20 18:30] xihaoxiaohao commented on #183
Hi @nadbm , any updates? I really appreciate your time, thanks.

[2019-12-20 20:09] nadbm commented on #183
sorry @xihaoxiaohao I missed this. You forgot to pass "onMouseUp" to the `<td>`

[2019-12-20 21:04] ZihuaH commented on #183
Hi @nadbm thanks for replying. I don't see the `props` have `onMouseUp` event.

Even after I add `onMouseUp={props.onMouseUp}` to the `<td>`. It doesn't solve the problem.

![Screen Shot 2019-12-20 at 1 01 05 PM](https://user-images.githubusercontent.com/13267813/71293101-3222e380-2329-11ea-9b9b-44c22bb5f6f0.png)

[2019-12-20 21:19] xihaoxiaohao commented on #183
Hi @nadbm thanks for replying. I don't see the `props` has `onMouseUp` event.

Even after I add `onMouseUp={props.onMouseUp}` to `<td>`, it doesn't solve the problem.

![Screen Shot 2019-12-20 at 1 01 05 PM](https://user-images.githubusercontent.com/9826637/71293773-4c5dc100-232b-11ea-88e1-a625ea1c2bb4.png)

[2019-12-20 21:21] nadbm commented on #183
hmm, I'm not exactly sure what is going on, I will get back to you soon. In the meantime could you try not using a custom cell renderer and if the problem still arises?

[2020-01-10 15:08] malik-sahab opened #190 "MathSheet.js breaks upon entering =A as expression"
<img width="608" alt="Screenshot 2020-01-10 at 8 05 27 PM" src="https://user-images.githubusercontent.com/19699354/72162998-c4784d80-33e4-11ea-93e5-5ada38084fca.png">

Error in browser:
<img width="433" alt="Screenshot 2020-01-10 at 8 06 06 PM" src="https://user-images.githubusercontent.com/19699354/72163051-e540a300-33e4-11ea-8099-3c2826149e8c.png">

[2020-01-30 13:29] RajuSuranagi opened #193 "Cell selection issues in sheets with colSpan or rowSpan"
I have cells A:D and 1:10 with varying colSpans and rowSpans. When selecting all cells, the selection works perfectly. But when selecting few rows with colSpan or rowSpan, the cells selected will be 'n' where n > number of cells in given row under the selection greater than number of cells (irrespective of any colSpan) in any other row.

Example:
Rows:
A1:D1 (colSpan 4) E1 F1
A2 B2 C2 D2 E2:F2

Mo

[2020-02-03 11:07] TPLeon opened #194 "Cell goes straight into edit mode when selected"
When I created my React Datasheet project a few months ago, there used to be a difference between edit-mode and selected-mode: When you selected a cell, it didn't go into edit-mode straight away. This happens in Chrome and not in Firefox. It isn't a problem of my project as the same holds for the example sheets here: https://nadbm.github.io/react-datasheet/.

Anyone knows what's happening and how

[2020-02-11 10:49] eshugoel24 opened #195 "Navigating cells using keyboard"
We select cell A1 and use shift+right arrow key to select right hand side cells till D1. Please refer screenshot.
![screen1](https://user-images.githubusercontent.com/14175865/74230180-dbfb6c80-4ce9-11ea-9650-ace46c0c25a4.png)
Now use shift+left arrow to deselect the D1 cell and rest of cells from A1 to C1 will be selected but it is not happening.

For expected result please refer below screenshot

[2020-02-17 13:57] dobernike opened #197 "1.4.1 bad perfomance ie11 input"
in version 1.4.0 in IE11 input value work better.

1.4.0
![bagie11_old](https://user-images.githubusercontent.com/26094706/74660071-735b3680-51a6-11ea-9988-3cf51345082c.gif)

1.4.1
![bagie11_new](https://user-images.githubusercontent.com/26094706/74660117-91c13200-51a6-11ea-83c7-7dcdfb7aa7e4.gif)

[2020-03-03 16:42] ririvas opened #199 "PropTypes settings: func vs class"
Hi,

I'm getting a warning that my react component passed to the valueViewer setting is not a func.

[code]
See below: this is because valueViewer has the propType set to func (along with other props). Should this be expanded to encompass react classes as well (i.e. any react component)?

[code]

[2020-03-10 18:43] gtryus opened #200 "Calling onCommit for DataCell worked in 1.4.0 but fails in 1.4.1"

[2020-03-16 12:55] mk48 commented on #5
I really need this feature.
Is it possible to make a cell into edit mode programmatically?

[2020-03-18 00:12] ririvas commented on #163
For any users that lands in this spot.

I've experienced a few performance issues in the past year of using this library. However, most of them were due to user error and were addressable with proper understanding of React.

If using custom renderers, monitoring re-renders across the different components will help identify unnecessary renders. For me, implementing React.memo on some of functional

[2020-03-18 00:15] ririvas commented on #170
Seems like this already present in the demos? Specifically the **Sheet with custom renderers** demo, last column.

Source code below
https://github.com/nadbm/react-datasheet/blob/master/docs/src/examples/CustomRendererSheet.js

[2020-03-18 00:30] pjebs commented on #163
https://github.com/adazzle/react-data-grid/issues/1846

[2020-03-18 00:31] pjebs commented on #186
https://github.com/adazzle/react-data-grid/issues/1846

[2020-03-19 01:33] ririvas commented on #199
Happy to create a pull request

[2020-03-20 15:02] luciancic opened #202 "Shift + Enter does not move editing to cell above"
Fantastic library, I love it. However, I found a small bug that's affecting my client. I thought rather than patch it in his code I'd fix it here and update the package version. What's your level of involvement in the codebase at this point? I don't mind fixing it and opening a pull request. It would help me out however if you could point me in the right direction and let me know your timeline for

[2020-03-24 08:32] tmreay commented on #84
@nadbm I was checking in on the status of this issue, and saw #162. I think I speak for many people when I say thank you for getting this resolved! Can this issue be closed?

[2020-03-27 02:01] aibarr opened #204 ""onCellsChanged" receive empty values"
After updating react-scripts to version 3.4.1, onCellsChanged receives the same value that the cell had before the onCommit event.

I'm using custom data editors, using the same components and structure that the example has. Everything was working fine before the package update. Is there any ideas?

Thanks!

[2020-03-27 15:42] aibarr commented on #204
Hi!

I've kind of by pass the problem changing some source code on "DataCell.js"

On line 137, I add some console.log functions to check what's going with the received values. This is what I got:
![imagen](https://user-images.githubusercontent.com/5756353/77773381-482af900-7028-11ea-8ec4-b5908be173ca.png)

So, what I did to bypass this, y change the third attribute on the "onChange" prop to "value

[2020-03-27 19:35] zachguo commented on #200
I found the same issue after upgrading from 1.3.14 to 1.4.1. `onCommit` changes cell value to `""`.

[2020-03-28 15:19] gbreux opened #205 "Issue with tab losing cell focus"
Hi!

I have an issue with the `tab` navigation. When I hit the tab key, it goes to the right cell but then it focus another element in the page outside of the table (the celll still has the selected class). It will also select the browser UI options (like the prev/next buttons) if nothing is selectable in the page. (which is the default behavior of the tab navigation) But how can I force the tab e

[2020-03-30 17:49] nadbm commented on #205
@gbreux
Can you look into transforming the renderer functions as bound functions?

See the comment here: https://github.com/nadbm/react-datasheet#custom-renderers

[code]

[2020-03-30 20:39] gbreux commented on #205
Thanks @nadbm for the help!

I don't use classes so binding functions can't work, but even when I removed the custom renderers entirely, I still have the issue 😞

[2020-04-07 09:22] thsnyzkn opened #206 "Disable input entry to rows based on an action that's coming from parent compnent."
Hello,
First and foremost thanks for the great library.

My problem might not be completely related with react-datasheet itself, and if it's wrong place to ask, please inform me.

I have been trying to incorporate the datahaseet with redux-form, so a datasheet component is one of the fields of my form and, let's say one the user stars editing another field, the datasheet will be disabled completel

[2020-04-09 14:33] mateuswolkmer commented on #112
Also looking forward to this feature, is it already possible to do as of now?

[2020-04-10 03:08] yang-chuanjiang opened #207 "react-datasheet table contents cannot be selected without editing"
* In the table, the readOnly attribute is set to true and the table contents cannot be selected

[2020-04-10 16:51] jakehjung commented on #115
You can actually do this instead for a workaround:

`<ReactDataSheet
      data={grid}
      valueRenderer={cell => {
        cell.readOnly = true;
        return cell.value;
    }}
/>
`

[2020-04-11 11:26] spoeck commented on #205
Any update on this?
I've exactly the same issue

[2020-04-11 14:31] spoeck commented on #205
@gbreux
Found a workaround!!!!

I used this FocusTrap: https://github.com/davidtheclark/focus-trap-react
[code]

[2020-04-12 23:18] luciancic commented on #170
I also needed to implement something like this. Unfortunately there doesn't seem to be a way to do it simply. In the demo you need to double click to make it appear. I gave it a `valueViewer` select component but there's all sorts of inconsistencies with edit mode (which is enabled only by double clicks). The way I see it, either choose another lib or be prepared to fork this and rework the intern

[2020-04-12 23:30] ririvas commented on #170
@luciancic another approach would be to override the higher level renderers. For example, in a specific instance, rather than deal with custom renderers on a cell, I overrode the row renderer to implement custom cells rendering. Note, this may collide with expected functionality of the sheet if the implementation or use case do not align with the spreadsheet mode.

[2020-04-17 07:52] cr4zyc4t opened #208 "Navigate keys make document scroll at version 1.4.1"
Use navigate keys (up/down keys) to navigate selected cell inside sheet:
v1.4.0 - work as expected: selected cell navigate correctly inside sheet, document body stay still, when selected cell reach boundary of sheet, document scroll is triggered.
v1.4.1 - not as expected: even selected cell does not reach sheet boundary, document body still scroll!

Example: Just run example in docs directory!

[2020-04-20 01:56] nadbm commented on #208
Yikes, thanks for finding this, fixed it in 1.4.3

[2020-04-20 01:56] #208 closed

[2020-04-22 06:44] ThinkSalat opened #210 "Cells rendering infinitely after clicking to edit any cell"
To recreate, run [this repo](https://github.com/ThinkSalat/spreadsheet-demo) and check the console.

If you'd rather recreate from scratch, run `npx create-react-app datasheet` and install react-datasheet. Then replace the app.js with the one from the repo above.

Once you run, your CPU will spike and stay there until you reload. the console will show it rendering in an infinite loop.

[2020-04-22 07:23] ThinkSalat commented on #210
I've found out that the reason this is happening is the valueRenderer.
It seems like using any kind of conditional and rendering a div in the valueRenderer causes an infinite loop.

for example, if you change your valueRenderer to the following function, it'll cause an infinite loop

**Causes Infinite Loop**
[code]

Returning a plain value doesn't cause the infinite loop, even with a conditional.

[2020-04-22 07:52] ThinkSalat commented on #210
ok, so the naming conventions are not super intuitive, but I figured out a workaround. The valueViewer doesn't cause the infinite loop if you render something conditionally.

If I have renderCell just return the value, and the valueViewer handle the conditional rendering like so, you won't get any infinite loops (so far as I've tested):

[code]

[2020-04-25 13:39] lukas1994 commented on #163
@ririvas

Do you have any advice? I'm using a custom renderer for the sheet, for rows, and for cells. The issue is that the library is based on passing children through these renderers, so I can't use memo.

Even if I only use a 10x30 table, just selecting a cell (which updates its state) feels very laggy.

[2020-04-25 18:18] ririvas commented on #163
Could you share some code with showcasing your issue? I could take a look if I have had any shared issues.

I wouldn't say i'm and expert. I worked through my issues by identifying areas that re-rendered constantly. To avoid re-render:

-  I used React.memo on in-line component definitions. For example, defining a dynamic parameterized value renderer inside a react render body caused that value re

[2020-04-25 20:57] lukas1994 commented on #163
Sure, I'll paste some snippets:

[code]

This is what my profiler looks like after selecting a cell:
![image](https://user-images.githubusercontent.com/6901762/80290760-8c9cd800-873f-11ea-9010-afd01b8ab5e5.png)

![image](https://user-images.githubusercontent.com/6901762/80290769-9c1c2100-873f-11ea-8726-f7c2c9354a9a.png)

Looks like by selecting a cell every single row rerenders:
![image](https://u

[2020-04-25 23:12] ririvas commented on #163
@lukas1994 , I spun up a simple project and I see what you mean about all rows re-rendering by default on the default renders provided. I'll reference my usage for insight (quite large) as I replaced all the renderers.

[2020-04-25 23:31] lukas1994 commented on #163
I appreciate it, thanks! Let me know if you need anything from my side.

[2020-04-26 15:47] ririvas commented on #163
@lukas1994, apologies looks like the sheetrenderer, rowrenderer, and cellrenderer re-render no matter what when the datasheet state's changes (i.e. editing a value). I can replicate this in the sample project I spun up.

- selecting (not edit mode) a cell re-renders the entire row re-renders the row
 - editing a cell re-renders the entire table

The 30x10 sample lags up to a couple seconds on cell

[2020-04-26 15:55] lukas1994 commented on #163
@nadbm do you have any ideas? If there's no way to fix this I would need to implement this with a different library.
Do you have any suggestions? I've heard good things about Handsontable.

[2020-04-30 12:57] lukas1994 commented on #163
@ririvas @nadbm I'm happy to help somehow. Do you know what is causing the rerenders?

In the worst case we have to write our own spreadsheet implementation :/

[2020-04-30 13:15] ririvas commented on #163
I'll revisit this weekend, I forked the library to dig deeper. The lag I
see is about a second for 30x10 but I also use this extensively and would
love faster performance

On Thu, Apr 30, 2020, 7:57 AM Lukas Köbis <notifications@github.com> wrote:

[2020-04-30 13:21] nadbm commented on #163
@lukas1994 Sorry have not been actively maintaining this repo. I'll look into it this weekend as well. In the meantime, would you have a JSfiddle I can use.

[2020-04-30 13:23] lukas1994 commented on #163
@ririvas you said "I can replicate this in the sample project I spun up." Can you post the sample project here?

[2020-05-03 20:07] ririvas commented on #163
Here is the sample project I was using to debug https://github.com/ririvas/debug-datasheet

However this only confirms the re-render inherent from the project. The assumption is that the re-rendering the entire sheet on any cell change leads to performance degradation for large enough sheets.

@lukas1994, we're assuming this is the same performance issue your facing, but ultimately this won't be c

[2020-05-04 00:04] ririvas commented on #163
@lukas1994 , I'm still working on further improvements, but you could try running the following fork.  https://github.com/ririvas/react-datasheet
- Note I modified the package.json **scripts:build** command to update my local sample project node_modules folder
- I developed in windows and this package was done in linux, you might run into issues.

This improved rendering when selecting cells and e

[2020-05-04 11:46] lukas1994 commented on #163
@ririvas Thanks a lot! This is much better. Looks like you fixed the rerender issue and the perf is much better. However, I think I found a bug. There seem to be rerender issues with the first column, check out this video: https://share.getcloudapp.com/YEu1PmyK
The blue dot, in the beginning, should only appear for "selected" rows. So only for rows with a selected cell.
Apart from that, it's looki

[2020-05-05 11:35] eshugoel24 opened #211 "OnCellsChange prop function is not working as expected"
After fixing Issue #180, onCellsChange function is not returning selected value or typed value.
Previously i am using code
[code]
In handleChanges function definition is
[code]

how can i upgrade my code? Any help will be great

[2020-05-05 12:08] eshugoel24 commented on #211
check https://github.com/nadbm/react-datasheet/blob/f0d15779b55dabaf1207794dfb9c6ce0ce1b90e4/src/DataCell.js#L90.
onCommit it is returning prop value. It means their is no use of onCommit.

Please correct me if i am wrong.

[2020-05-06 02:34] ririvas commented on #163
@lukas1994, thanks for the video and checking it out. I will work on fixing that bug and potentially improving performance on updates to the prop *data*. Again may not get around to it till this weekend. But I hope to create a pull request by then.

[2020-05-07 02:12] ririvas commented on #163
@lukas1994 I can't replicate the bug easily without your setup, but deducing from the video and the code you pasted previously, I think it's because of your react components defined as class methods.

This fork prevents re-renders if ReactDatasheet props and internal state changes don't change for a given row. I presume your code updates external state from the *onSelect* prop. This then feeds dow

[2020-05-08 07:09] a-pachkov commented on #163
@ririvas, thanks for your work and suggestions, it solves the re-renader issue but bring new issues specific to project what I working for with @lukas1994.
I'll try to write my own solution from scratch to make it more flexible.
Thank you again!

[2020-05-09 17:31] 11112256 commented on #80
hi @astegmaier , can u help me how to achieve auto row height

[2020-05-09 23:06] ririvas commented on #163
@a-pachkov , @lukas1994  If the changes I suggested above solved your issue with the first column render. Then I don't think there will be an easy fix nor do I think it's an issue with the library. Again, appreciate the videos but without a codepen project to reference, some of this is conjecture.

I assume your issue is because the following code causes all cells to re-render when anything change

[2020-05-11 02:02] #211 closed

[2020-05-11 02:55] nadbm commented on #163
Sorry for the late reply @lukas1994, I had some time to look into this but only at a surface level.

See the following branch and let me know if this solves your issues somewhat: https://github.com/nadbm/react-datasheet/pull/213

[2020-05-12 03:02] ririvas commented on #163
@nadbm , thanks for looking at this. Let me know if I can help in anyway. I use this library too and appreciate the simple and flexible api. I forked to investigate improving performance as well.

[2020-05-12 15:31] a-pachkov commented on #163
Thank you for the suggestion @nadbm, this is my [simple example](https://codesandbox.io/s/distracted-wildflower-979cj) that I based on your fix
As you can see in [video example](https://share.getcloudapp.com/mXuBG1Oe) - it will re-render all cells sometimes in my case of use

[2020-05-12 16:00] nadbm commented on #163
Thanks @ririvas, if you find any fixes feel free to make a PR, I have limited time to dedicate to this repo unfortunately.

Thanks for the example @a-pachkov I will debug using this.

[2020-05-12 16:11] a-pachkov commented on #163
Thank you a lot @nadbm !

[2020-05-12 17:30] nadbm commented on #163
@a-pachkov  Your example had a simple fix: valueRenderer was using dynamic function so memorization wasn't happening. Here's a fixed version I uploaded https://github.com/nadbm/perf-test-rd

And here's the commit that changed from the initial code: https://github.com/nadbm/perf-test-rd/commit/0d225db6468be8e020d85cb68e284503bbe7ebd3

[2020-05-13 11:45] a-pachkov commented on #163
@nadbm cool, thank you! Just checked your fix - https://share.getcloudapp.com/ApujlEKz and now it doesn't re-render cells but it it still re-render rows, and it cause performance issues for larger tables - https://share.getcloudapp.com/jkul64PG
How to avoid this extra render for rows on select?

[2020-05-14 17:01] nadbm commented on #163
@a-pachkov I think that will require a little bit more rework on the library's end. I will investigate further this weekend

[2020-05-14 17:18] a-pachkov commented on #163
@nadbm great, thank you a lot!

[2020-05-18 19:35] nadbm commented on #163
Can you give it a quick go again?  I'm memoizing the rows but that means the state update on your table needs to happen more effectively.

See the changes here:
https://github.com/nadbm/perf-test-rd/compare/0d225db6468be8e020d85cb68e284503bbe7ebd3...master

[2020-05-19 10:43] a-pachkov commented on #163
@nadbm thank you for looking into this issue! But it seems not solve issue with re-render on select a cell or many cells - it still re-render all rows: https://share.getcloudapp.com/lluDbwZx

[2020-05-19 13:19] nadbm commented on #163
@a-pachkov can you test using a fresh clone of this repo? https://github.com/nadbm/perf-test-rd
Im not able to reproduce your your re-renders anymore.

[2020-05-19 14:29] a-pachkov commented on #163
@nadbm thank you a lot! Now it work mush better with large tables - https://share.getcloudapp.com/2NuXevd5.
To prevent re-render on change I should not change not involved rows, right?
Thank you again!

[2020-05-19 20:44] nadbm commented on #163
@a-pachkov hmm, I guess the blue bullet is a side effect from selecting a row. See how I handled the checkbox selection in my repo (the row needed to be updated to trigger the row to be rendered). If you can share a simple example of the blue dot (feel free to make a PR to  https://github.com/nadbm/perf-test-rd) I can debug further

[2020-05-20 07:26] a-pachkov commented on #163
@nadbm thank you for the replay! I just created pull request with simple [example of an issue](https://share.getcloudapp.com/BluZAKKk).

[2020-05-23 06:55] imhazige commented on #109
when use with semantic ui, the css totally mess.

[2020-05-26 02:37] DOsinga opened #214 "Finding the origin of a pasted cell"
Hi there,

In Excel copy & pasting a cell with a formula in it, will change the references of that formula accordingly. For example if A1 contains '=B1' and I copy that to A2, this will result in '=B2', not '=B1'. Is there a way to mimic this?

I can achieve this somewhat by monkey patching the `handleCopy` and storing the location of the copied cell and onCellsChanged checking whether the values

[2020-05-29 13:28] seleckis opened #217 "How to disable cell edition on typing?"
I have removed onDoubleClick, but still can edit if cell is selected, just by typing something. In the code I have found onKeyUp method, but there is no anything about it in docs, and I cannot figure out where to use it? As well in the code of DataCell.jsx there is onKeyUp method but in typescript definitions there is onKeyDown method in DataEditorProps interface. Any suggestion?

[2020-05-29 13:55] seleckis commented on #217
Seems this is duplicated #81

[2020-06-02 00:30] MakaryHryshkin opened #218 "Performance issue, all cells get updated when double clicking or pressing enter to enter edit mode"
**Summary**:
All cells get updated when entering edit mode, it causes performance issue, rerendering takes about 2 seconds. The size of the table is 40x10.

**Expected Result**
Only a cell that is being clicked gets updated, it shouldn't affect other cells. It works now with an empty out cell if a user starts typing without pressing enter.

**Actual Result**
All cells get updated on click or press

[2020-06-08 23:24] lukas1994 opened #221 "unmounting table is slow"
Each DataCell needs to clear a timer which makes the unmount very slow:
![image](https://user-images.githubusercontent.com/6901762/84089667-785b2480-a9e7-11ea-9668-56a47a73d156.png)

![image](https://user-images.githubusercontent.com/6901762/84089690-8b6df480-a9e7-11ea-9076-327f4eca19f3.png)

Why do DataCells even need this timer? Is there a way to disable it?

[2020-06-17 05:24] Cants820 opened #222 "Best way to style ?"
What would be the best or recommend way to style these data tables ? Styled components, css modules, sheet renderer ?

[2020-06-20 20:35] lukas1994 commented on #221
Judging from the react-datasheet source code, you use timers to provide the updated prop into a custom CellRenderer: https://github.com/nadbm/react-datasheet#cell-renderer. (Basically, whenever a cell changed, that prop becomes true for 700 ms, and then resets back to false.) That’s why you need to clear timers when a cell unmounts.

Would be great if there was a way to disable [this](https://gith

[2020-06-24 15:02] ettanass commented on #193
I have the same issue, any informations?

[2020-06-25 00:23] JustWalters commented on #199
This also causes warnings for functional components wrapped in React.memo.

[2020-06-26 08:35] Tatabakbak commented on #183
Having the same issue with custom sheetRenderer. When sheetRenderer removed - everythig works fine.

[code]

[2020-07-01 07:51] ibiBgOR commented on #81
Will this be added soon? This is like a "Must-Have" to use it within our project.

[2020-07-01 12:25] rsneh commented on #183
@Tatabakbak I can't reproduce this with sheetRenderer.

It's working fine with this example below.

`const sheetRenderer: ReactDataSheet.SheetRenderer<GridElement> = props => {
    return (
      <table className={props.className + ' my-awesome-extra-class'}>
        <thead>
          <tr>
            <th className='action-cell' />
          </tr>
        </thead>
        <tbody>
          {props.

[2020-07-02 07:02] Tatabakbak commented on #183
for me replacing  `sheetRenderer={(props) => this.sheetRenderer(props)}` with `sheetRenderer={this.sheetRenderer} ` surprisingly solved the problem

[2020-07-02 07:20] Tatabakbak commented on #183
The problem was in my code - replacing `sheetRenderer={(props) => this.sheetRenderer(props)}` with `sheetRenderer={this.sheetRenderer}` solved the problem.

[2020-07-02 18:10] rsneh commented on #183
I reproduced this issue (what @xihaoxiaohao is saying) on version 1.4.4.
I'm trying to investigate it to give more details or maybe to create a PR fo it.

[2020-07-13 14:47] #221 closed

[2020-07-13 14:48] #166 closed

[2020-07-13 16:21] lukas1994 commented on #221
Nice, thanks! Do you mind publishing a new version?

[2020-07-13 16:22] nadbm commented on #221
Yes, give me a day to fix some tests, should have it by EOD

[2020-07-13 18:41] nadbm commented on #221
published

[2020-07-13 22:40] lukas1994 commented on #221
How do I pass that prop to the DataCell though: https://github.com/nadbm/react-datasheet/blob/95c17d3348f1cb6afc9f47bbfad618cfc0327168/src/DataSheet.js#L678

[2020-07-15 09:32] moonrailgun opened #227 "Incorrect dependency as a library"
Hi, it looks like have a incorrect dependency in your config.

As a library, its have some dependency declare which is not good. The version of `husky`, `prettier` and others should place into `devDependencies`.

In some project, its will cause error.

https://github.com/nadbm/react-datasheet/blob/c0db261fa625bb0b0a05d5ccdf0eb8356a085b78/package.json#L67-L72

[2020-07-15 16:49] nadbm commented on #227
thanks for noticing! republished without the deps

[2020-07-15 16:49] #227 closed

[2020-07-16 02:42] bsuriyakuts opened #229 "Add Rows"
While pasting values will it addrows if the data exceeds the current rows?

[2020-07-16 17:59] rmonnier9 commented on #167
Hi !
Are you talking about the ability to click on a cell and expand its value across multiple other cells ?

[2020-07-21 12:44] LiborOl opened #230 "When editing the cell, data editor is created with old edited value (e.g. from different cell) then the value is updated to right value (second render)"
It is caused by
[code]
in DataSheet.

The data editor is rendered first time with value from previous edit and then the prop is updated with the correct value. It is not visible for the user, but if you use custom data editors, it may cause exceptions/warning because of different data types/structures.

I think, it is also source of the issue https://github.com/nadbm/react-datasheet/issues/218. Al

[2020-07-25 17:50] nadbm commented on #229
@bsuriyakuts Yes but you have to handle the paste to add additional data to your source data.

[2020-07-25 17:50] #229 closed

[2020-07-25 17:56] #218 closed

[2020-07-25 17:56] #230 closed

[2020-07-25 18:03] nadbm commented on #217
There's a readOnly mode if what you're trying to achieve is a non-editable cell

[2020-07-26 00:13] bsuriyakuts commented on #229
Any sample program do you have?

[2020-07-28 05:01] sugitlab opened #232 ""selected" and "read-only" class doesn't added after "cell" class. (typescript)"
I'm using React.js with typescript.
Add similar table with your BasicSheet sample on my simple SPA application. Almost working, but "selected" and "readonly" styles are not applied, so I can't see which sell is selected now...

I debugged code with chrome extension (React developer tool).
In case "Component" tab, Sheet > Row > DataCell > cellRenderer has "cell read-only" or "cell selected" correct

[2020-07-30 20:47] sodhanii commented on #170
Hi @ririvas, could you share your example?

[2020-07-31 03:15] ljrodriguez1 opened #234 "Dynamic lenght Sheet"
Is there a way to have infinite, dynamycaly generated rows?, or maybe not infinite but that always lets you add more, or that at least change it depth when i copy and paste data to it.

[2020-07-31 21:28] lveillard commented on #163
In case it helps, I managed to enhance the performance of my instance by changing the data structure and the onChangeData methods. It works fine with many columns and rows. I even import big JSONs (>500 rows) and they load and can be modified in less than a sec.

**Data structure:**
Instead of a 2D array I have an array of Objects, for example:

data example:
`[{name:"Peter", id:"1"}, {name:"Peter

[2020-07-31 22:52] lveillard commented on #118
Maybe is there a way to do it without creating classes?
Classess are soooo 2019 😅

[2020-07-31 22:59] lveillard commented on #118
Ok, it just works fine, if somebody is looking for this:

[code]

and this params in the dataSheet:

`            selected={selected}
            onSelect={(selected) => setSelected(selected)}
`

Will just work fine

[2020-08-01 02:01] lveillard opened #235 "Two default features are lost when OnSelect is specified"
When adding the following params:

[code]

We lose two features that are default when we don't override this:
1) Shift + Click: We lose the shift + click feature to select a group of cells. Shift clicking a end cell will just select it and deselect the old selection

2) Deselect on defocus: Whenever we click outside of the table the blue of the selected cells disappear. This is not the case when o

[2020-08-01 02:04] lveillard opened #236 "UX: Shift + Enter selects the upper cell"
I've created a little feature to add a new row when pressing Enter + Shift (airtable like) it works fine but i had to alter also the onSelect because the original behaviour is a bit weird, each time we do enter + shift we select one upper cell. This can be repeated until selecting all the column.

**Expected behaviour=>**

Shift + Enter should either:
1) Don't alter the selection at all
2) Select

[2020-08-01 02:05] lveillard commented on #236
Current:
![2020-08-01_04-05-14](https://user-images.githubusercontent.com/29461076/89091755-41ccd500-d3ac-11ea-9aa8-cd8342bac5ad.gif)

[2020-08-01 02:07] lveillard commented on #236
Expected:
![2020-08-01_04-06-37](https://user-images.githubusercontent.com/29461076/89091781-75a7fa80-d3ac-11ea-8109-bb8705929b61.gif)
Note: The fix is about the selection. Adding columns would be a different feature request

[2020-08-06 08:14] #222 closed

[2020-08-06 08:24] Cants820 opened #237 "Is it possible to import values onto your datatable ?"
Hello Guys,

A have the redux state that holds the table values. when I edit/update the redux. My table rows become empty, yet my redux state is updated ? I was wondering would I have to do some stuff to my table to see the import changes ? I'm kinda having trouble with this implementation.

Thank You,

[2020-08-06 14:45] nadbm commented on #237
Redux shouldn't cause any issue here, can you create a short code sample to show the error?
The values should just be passed to the component normally

[2020-08-10 12:21] Selva8590 opened #238 "can we add multiple sheets like excel in react-datasheet"
I searched everywhere and couldn't find to add the multiple sheets like excel. Please let us know whether it is possible in react-datasheet

[2020-08-11 12:14] aizaiz commented on #30
This how I make fixed headers when scrolling with awesome react-datasheet:

1 use css position sticky on <th>
`
th {
  position: sticky;
  top: 0;
}
`

2. then to make the header border not disappeared when it sticked on top
`
.data-grid-container .data-grid {
  border-collapse: separate;
  border-spacing: 0;
}
`

3. don't forget to wrap `<table>` inside `<div>` then set the `height` and `overflow

[2020-08-13 00:57] AleKrabbe commented on #238
Can't you create a menu component manually that switches between spreadsheets upon clicking?

[2020-08-18 13:11] danarish4 opened #239 "can we add select all Keyboard behavior? (cmd+'a' will trigger select all cells)"

[2020-08-19 09:10] soluteli opened #240 "Unexpected handleChange emitted by DataEditor"
questions exists on [github demo](https://nadbm.github.io/react-datasheet/)
## Unexpected handleChange
**steps**
1. select a cell (just highlight and not foucus)
2. enter something directly, my input will show in cell

## Unexpected handleChange and **Chinese Pinyin IME**
1. when i input with **Chinese Pinyin IME** ，it will show first character and the result of others characters pinyin （details o

[2020-08-20 05:50] Cants820 opened #241 "Performance Issues when rendering 1000+ rows"
Is this framework equip to render 1000+ and re-render after every update on each cell. Been racking up my brain on improving the performance of datatable ? I'm currently having issues with 1000 x 12 ? It takes a lot of time or my browser just crashes. Pretty hit or miss. Any solutions available currently or Techniques that can be implemented ?

[2020-08-20 08:48] Cants820 opened #243 "Has anyone done pagination with this framework"
Hello quick question is pagination possible with this current framework ?

[2020-08-29 12:57] larissa-n opened #245 "Compatibility issues with webpack css-loader"
The latest compatible version of [css-loader](https://www.npmjs.com/package/css-loader) is 2.1.1. For any newer version (starting with 3.0.0; current one is 4.2.2) it throws:

[code]
Are there any plans to upgrade this library? Thank you!

[2020-09-11 15:34] wesww commented on #241
what about virtualizing the list so that only the visible cells are actually loaded? e.g. https://www.npmjs.com/package/react-virtualized

[2020-09-11 15:42] wesww commented on #241
I'd be really curious if someone could add virtualization to this component. Selecting a range wider than the visible cells could be tricky, but as long as the data is sorted in a stable fashion I imagine all you'd need to capture is the selection indices.

[2020-09-12 01:14] lveillard commented on #239
You can do something similar to this Here i'm actually selecting cells when shift+enter for this effect
![s4iZEWv1w5](https://user-images.githubusercontent.com/29461076/92983816-0bec3780-f4a6-11ea-9ad7-4c513a533600.gif)
:

But you should be able to modify it to select all the cells

[code]

[2020-09-12 01:24] lveillard commented on #234
you can create a function addColumns. In my case i'm storing the data in an array of objects so it is like this:
yours will be probably different
[code]

then you can for example
- add a line when you use shift + enter in the last row (like airtable) (with keydown event)
- add N lines with a button
- add N lines when you are pasting data

The last one you can achieve it by using the method "const

[2020-09-12 21:00] cjmcclellan commented on #108
Any updates on this?  I'm also interested in this functionality.

[2020-09-14 08:18] MarcoSapienza commented on #30
Hi @aizaiz , please could you explain how to fixed header with more details. I don't understand where to set the height and overflow. Thanks

[2020-09-17 22:13] kaushalkabra commented on #168
@nadbm @annjawn  any update on this? even i am facing same issue. looks like onCellsChanged is getting triggered and in that the pasteFlow but with no data

[2020-09-29 04:46] #232 closed

[2020-09-29 12:08] iuyt9003 commented on #234
Hey @lveillard can you please maybe show the source code ?
having a little issue with the onCellsChange. seems legit but had problem with the column row adjustments. thanks!

[2020-10-04 22:27] dvelasquez25 commented on #241
Can confirm performance issues with a 500 rows and 3 columns almost making it unusable.

[2020-10-06 12:09] gsmari commented on #111
In my case I only want to exclude the last element, if it is empty

[code]

[2020-10-07 05:34] Cants820 commented on #241
In my use case, virtualizing the list is not possible I believe since were trying copy and paste huge amounts data. I believe from my knowledge, react-virtualized does not have a copy paste function

[2020-10-11 18:07] omarglz commented on #145
I'm running into this issue too. Any tips?

[2020-10-18 21:32] prochorz commented on #171
Hi! It's my solution for this
[code]

[2020-10-26 07:08] greenPeppers commented on #241
A cell that starts with an edit will cause all the cells to render. How to resolve this

[2020-11-20 02:44] gnudle opened #251 "Show DataEditor on single-click or onelect"

[2020-11-22 23:54] rayventerprise commented on #149
That didn't work for me, what did work was

- removing the border from the input.
- make parent <td> relative position.
- set input to full width and height.
- set input to absolute.

This is what I did using TailwindCSS.
`
.data-grid-container .data-grid .cell > input {
    @apply w-full h-full top-0 text-center absolute border-none;
}

.data-grid-container .data-grid .cell.selected {
    @apply

[2020-11-25 16:07] gowarriori opened #252 "How to extract the data from the Datasheet"
Hi thank you so this awesome framework saved my day. A question i have is  in my table I have uneditable headers, cells and user editable cells. How could I get the user input out when user click a submit button and also change my initial state in react and post the collected data to my own api;

[2020-11-30 16:41] gowarriori commented on #142
Will this be fixed in the future? By the way @derblitz  How did you add the colSpan, I followed the example it does not work for me

[2020-12-04 17:57] resulyrt93 commented on #193
i have same problem. did you any progress?
![Test](https://user-images.githubusercontent.com/45128820/101197514-40b9f600-3673-11eb-83fb-c208347f447b.gif)

[2020-12-07 07:55] davidsx opened #254 "OnSelect not firing properly"
Hi I am a new user for react-datasheet and thanks for this great library which helps me minimise many efforts.

I am encountering a problem that OnSelect is not firing properly

### Step to reproduce:
1. Select multiple cells
2. Select the last highlighted cell

If I select other cell it will work as normal.

[2020-12-08 02:28] guoyunhe opened #255 "Copy/pasting cell with linebreaks results in multiple rows"
If I copy a single cell in Excel with linebreaks, it will be pasted as multiple rows, with additional `"` in the first and last cell.

In clipboard, a cell with linebreaks will be quoted with "". All line breaks inside the quotes shouldn't be considered as row separaters.

[2020-12-09 15:33] kaikun213 commented on #171
Thanks @prochorz for the workaround. However, for me setting the state onSelect would cause some issues as the rerender would prevent e.g. cell selection via keyboard commands.
If I do not cause a rerender it works well. (e.g.
[code]

[2020-12-10 14:55] kaikun213 commented on #171
I modified the solution to also support multi-row/multi-column copy/paste similar to excel.
If someone needs the same:

[code]

[2020-12-11 16:38] archywillhe commented on #118
nope; ceases to work poerply once you have a custom cellRenderer zzz

[2020-12-11 16:44] archywillhe commented on #183
hmm I'm running into a similar problem in a stateless component

[2020-12-15 13:57] danarish4 opened #260 "force cell to go out from editing mode into selection mode (and control other keyboard events)"
Hey,
Is there a possibility to control keyboard events?
I'm rendering an editor component (with `forceComponent: true`) in each call and I need to control:

1.press Escape key will go out from editing state
2.press right + left keys when editing cell will not move to the next cells

Thanks!

[2020-12-18 03:25] gnudle commented on #251
😢

[2020-12-22 16:59] mk48 opened #261 "Help: Any typescript example available?"
All the examples are in JavaScript. I am looking for Typescript example. Is any available?

[2020-12-24 17:34] archywillhe commented on #241
@greenPeppers guess the only way is to use local states extensively

[2020-12-24 20:22] archywillhe commented on #62
simply perform ｎａｔｕｒａｌ　ｔｒａｎｓｆｏｒｍａｔｉｏｎ of react-virtualized onto react datasheet

[2020-12-25 16:07] giuseppe987 commented on #163
Hi! How can I use the memoizee solution? I like this datasheet and the only problem I found is the performance.

Thanks @nadbm for your work!!!

[2020-12-27 16:36] MartinDawson opened #262 "EditableCell onEdit does not work"
Using the most basic example:
[code]

onEdit never gets fired on double click on a cell when it should. I'm using the latest table and blueprint packages.

[2021-01-06 06:56] npips1991 commented on #117
hi hello
i am try to use check runtime validation  like (Mobile , email ..) and many more but how??

[2021-01-06 14:02] npips1991 commented on #252
Same Problem How to SLovw??

[2021-01-07 15:23] larissa-n commented on #245
Any updates (@nadbm)? Thank you!

[2021-01-08 09:28] npips1991 opened #263 "How to data sorting ."

[2021-02-05 03:47] nvlong198 opened #265 "[question] does react-datasheet support merge cell ?"

[2021-02-08 10:13] swapercz commented on #163
Hi, any update on this issue? I would like use this repo in project, but I am limited by the performance. Thanks in advance.

[2021-02-08 16:37] nadbm commented on #163
Sorry this is not actively maintained but you can try this branch if it works for you: https://github.com/nadbm/react-datasheet/tree/perf-fix-test

Most of the performance issues are usually fixed by what lveillard is describing above.

[2021-02-17 03:33] mohridwanhdp commented on #30
I set the `height: auto; overflow-y: auto;` in  `.data-grid-container .data-grid` and it's work also.

[2021-02-17 16:36] davidsx opened #267 "[issue] cellRenderer using default Cell component not working"
Hi. I am trying to add some extra class to the td which I use the Cell component and expend the className prop.

However, I cannot resolve the original behaviour on the following simple code:

`cellRenderer={(props) => <Cell {...props} />}`

A significant mis-behaviour is that the arrow key navigation failure.

[2021-02-17 21:51] polakowski commented on #145
I'm having the same issue

[2021-02-19 17:23] iashris commented on #232
I got this issue as well.

[2021-02-19 18:37] ATenderholt commented on #163
How does one use the array of objects as described by @lveillard ? Does the function passed to `valueRenderer` get changed to return the values based on column in cell?

[2021-02-24 12:15] wangchen-ca commented on #265
I would follow ask same question I guess. My requirements are: some cells are merge of several rows. some cells are merge of several columns.  Does the react-datasheet support?  If yes, would you advise a sample usage?  Thanks. Chen.

[2021-02-25 19:53] wangchen-ca commented on #265
the cell option has colSpan, rowSpan which is for the purpose.

[2021-02-26 06:12] damnitrahul opened #268 "issue: Return value of handleCopy prop does not get copied to clipboard"
Hi,

The return value of handleCopy prop does not get copied to the clipboard.

The docs mention that

but the return value does not get copied automatically.

I looked through the code and found that the copy method is never being called for the return value of the handleCopy prop.

[code]

[2021-02-26 16:02] bkniffler commented on #167
I'm interested at that too!

[2021-03-07 14:47] navidadelpour commented on #234
You can use these code snippets in order to have at least 3 rows on the bottom of the sheet after any change or paste happens.
It will calculate the needed rows from bottom of the sheet.
For an example if you have 10 rows, and you edit the 9th row, then after that change you would have 2 rows added to the bottom.

[code]

usage in onCellsChanged function:
[code]

usage in parse paste function
[cod

[2021-03-08 06:13] imgss commented on #184
I got the same problem, that's helped

[2021-03-08 06:44] navidadelpour commented on #251
Hi @gnudle,
You can have a button in your valueViewer to dispatch double click event on it self.
here I've had a valueViewer component and inside of that i've created a dropdown icon with css
on dropdown button click, you can dispatch the double click event with `bubbles: true` on the dropdown element itself.

![image](https://user-images.githubusercontent.com/38534411/110284223-b5942780-7ff6-11eb

[2021-03-09 17:14] BrodaNoel opened #271 "Missing `onBlur` event"
`onSelect` event function is not called when the user clicks outside the table (thus, the selection gets empty).
There should be some way to let the dev knows when the selection is out.

[2021-03-10 14:55] gnudle commented on #251
@navidadelpour Thank you. I should have thought of that! Thank you also for a great component.

[2021-03-13 07:38] navidadelpour commented on #260
Hey @danarish4.

Yes, but you need to use a custom DataEditor component which has `onKeyDown`, `onCommit`, `onRevert` props.
And as the [doc](https://github.com/nadbm/react-datasheet#data-editor) mentions, you can control keyboard events behavior by overriding the [default implementation](https://github.com/nadbm/react-datasheet/blob/master/src/DataCell.js#L133-L151).

For example:
[code]
But as y

[2021-03-13 08:25] navidadelpour commented on #207
Hi @yang-chuanjiang,
It's because the `user-select: none` css rule in cells (`td` element).
setting it to `user-select: auto` fixes the issue.

[2021-03-17 18:30] jacksonHendric opened #272 "[question] Performance on large sets - Virtualization"
Any update on performance improvements to data-sheet? I don't seem to see any virtualization implementations. Was there another route that was taken to improve performance when dealing with many items in the datasheet?

Any 3rd party implementations to look at if not?

[2021-03-19 14:53] #272 closed

[2021-03-23 04:38] jerry2971 commented on #255
I also encountered the same problem.
After reading the document, react-datasheet allows custom parser.
Below is my code
[code]

[code]
If the copied content contains `"`, it may not work properly.

[2021-03-26 23:12] maejoh commented on #127
Having this same problem. Simple console logging is showing that on de-selection, the cells are re-rendering before onChange is called, and then not re-rendering until selected again.

[2021-03-29 20:25] andreas-ku opened #274 "Japanese text input not working correctly"
Hi,

I noticed that the datasheet is not handling Japanese input correctly on Mac (both in Firefox and Chrome). Have not tested for other operating systems
![Screenshot 2021-03-29 at 22 22 48](https://user-images.githubusercontent.com/1586606/112895615-a24c1780-90dd-11eb-90d2-9558eb071aee.png)

**To reproduce**

1. Go to system preferences > language & region > Keyboard preferences
2. Click on "+"

[2021-03-29 21:04] andreas-ku opened #275 "Callback while typing"
Hi,

would it be possible to add a handler that is called during typing / editing a cell?
Seems "onCellsChanged" is just called after the editing is finished.
I am looking for something more realtime that will be triggered for every keyboardstroke when the user is typing in a cell.

Greetings Andreas

[2021-04-08 09:32] addTvb commented on #117
Hello @nadbm, can you add an example with validations to documentation, for more clarity?

[2021-04-10 16:11] maejoh opened #277 "onCellsChange doesn't re-render changed cells"
If a cell is changed, and then a different cell is selected (not from pressing enter, but from mouseDown on a different cell), the changed cell re-renders before onCellsChanged is called, so the underlying data is changed, but the visible cell renders the old value. The new value is only reflected to the user when the cell is selected again.

Similarly, if changing one cell makes changes to other

[2021-04-12 14:22] maejoh commented on #277
You can work around this by creating an additional state variable and setting it when you need the whole sheet to re-render, but this causes all cells to re-render, not just the changed cells, which isn't optimal.

[2021-04-15 20:16] maejoh opened #278 "isCellNavigable is ignored when holding shift"
I'm simulating merged cells with colspan and rowspan. I added cells with the 'display: none' style in places where the cell was really covered by an elongated cell, and made a function for isCellNavigable that considers such hidden cells as not navigable. This slightly improves keyboard navigation around the spreadsheet, though it isn't perfect. However, when selecting multiple cells by holding do

[2021-04-21 05:24] nikitaCT commented on #108
Same. Do we have this. functionality?

[2021-04-22 00:00] wangchen-ca opened #279 "[Question]can react-datasheet work with Redux?"
I see examples that sheet data are given as property of component in react render function.  I have a application using Redux  and it uses axios to retrieve remote service url. The return dispatch a action to update state to call render to show the sheet. The sheet data is not available when the render firstly called.

My question, can react-datasheet working with Redux?

Thanks,
Chen

[2021-04-22 00:43] wangchen-ca opened #280 "validate user's input when using react-datasheet as data input form"
Is there a way to correct or rollback user's input if user's input is not valid according some business logic? for example, a percentage input have range [1-100], if current value is 80,  user change to 102, our code change it to 100 or roll back to 80 and alert a invalid warning to user.

Now I am able to use onCellsChanged to add a new css to have different color if the value being changed. I ca

[2021-04-27 11:09] Avhishek05 opened #281 "When I copy and paste from MS excel I am not getting exact value"
![image](https://user-images.githubusercontent.com/23546633/116231710-dcf5ae00-a776-11eb-95fd-79138a9ccbe0.png)
My excel sheet shows 64 but Actual value is 64.123 when I copy and paste it I get only 64 decimal values are getting removed same happens when I paste on notepad too.
![image](https://user-images.githubusercontent.com/23546633/116232014-31009280-a777-11eb-870b-01e667b82a1f.png)

[2021-05-04 11:02] bovan commented on #281
you need to customize the parsePaste property, have a look at #111

[2021-05-17 17:13] ericman314 commented on #261
There is this: https://github.com/nadbm/react-datasheet/blob/master/USAGE_TYPESCRIPT.md

[2021-05-17 17:40] ericman314 commented on #152
I have the same question. I am using TypeScript and I wish to render a `ReactNode` as the cell value:

[code]

However, I am getting the following TypeScript error:

[code]

It looks like the `valueRenderer` property needs to return a `string | number | void | null`. In Javascript (rename to *.jsx and remove type annotations), this renders just fine. Is it possible to extend `valueRenderer` to inc

[2021-05-17 17:45] Avhishek05 commented on #281
this doesn't help me with my issue

[2021-05-19 13:22] lealhugui opened #291 "Excel like Freeze Column"
Is there a way do freeze columns like Excel's "Freeze Panels"?

Ex:
![image](https://user-images.githubusercontent.com/2677325/118819660-eeb90580-b88b-11eb-9c17-3828f503cd52.png)

Note the scroll on the bottom and the fact that moving the scroll to the right will not affect the selected columns.

[2021-05-28 20:11] Avhishek05 commented on #59
I added this functionality by adding unique class `cell-${i}-${j} sticky-column` to every freezinb cell. then in useEffect I am calling a function every time to find this class and add css to freeze (by using HTML DOM Style).

[2021-07-24 09:00] altwarg opened #296 "[Question] How to handle onDoubleClick for each cell?"
I want to handle onDoubleClick other way than just entering the editing cell mode. How can I achieve this?

[2021-07-25 18:28] altwarg commented on #296
I figured it out by using both `forceComponent` and `component` props. I defined `onDoubleClick` handler like this while preparing the grid:
![image](https://user-images.githubusercontent.com/34391398/126909420-1cb2df95-8c09-44ee-a178-47fce6fc4de2.png)

[2021-07-25 18:28] #296 closed

[2021-08-05 02:52] nadbm commented on #268
Sorry this is a problem in the docs rather than the actual method itself. HandleCopy is meant to override any of the default calls.

[2021-08-30 06:41] fny commented on #280
There is no built in method to accomplish this out of the box, but you can use `attributesRenderer` to accomplish it similar to the method shown for adding hints.

[code]

[2021-09-11 12:57] mungojam commented on #279
We're happily using it with redux. We the react-redux useSelector hook and then just set the data props on the table from that and it will update automatically since it is 'declarative' not 'imperative'

[2021-09-16 15:57] mungojam opened #301 "Are types for default renderers, cell etc. missing?"
We sometimes extend react datasheet by extending the underlying default behaviour.

But when doing this from typescript, it doesn't seem to be able to find the components to import them. I don't really understand what's going on with it, but I note that they aren't listed in the `types` folder, only the interfaces are.

Here is an example:

![image](https://user-images.githubusercontent.com/315463

[2021-09-28 15:19] ericman314 opened #303 "How to select all cells, then copy?"
I will ask and answer my own question in the hopes it can be of use to someone, but I'm really hoping someone will share the right way to do this.

I have a ReactDataGrid with a controlled selection. I also have a custom copy handler, but I don't think that matters in this case.

[code]

I also have a "Select All" button outside of my ReactDataGrid, whose `onClick` handler calls this function to s

[2021-10-07 19:11] ivarne commented on #281
This is a browser issue. At least in my testing, I only got `csv` and `html` (and maybe `png`) format to the browser when copying from excel, so hidden decimal places are actually lost and never seen by the browser.

[2021-10-17 11:25] rburgst opened #307 "feature request: influence enter key handling"
I would like to make the enter key go into the next row but the first editable column. It would be cool to have a way to influence the default behaviour.

[2021-10-30 12:17] vivaslj1 opened #308 "Allow Tab key in order to go out from the DataSheet to focus other DOM elements"
is there any way to press tab-key when last cell is focused (last-row / last-column) to change focus on the next element of the dom?, maybe modifiying cell-renderer?

Default behaviour in a web is press tab-key in order to change focused element, but when click on datasheet, i can not move with tabkey anywhere unless i click on other dom element.

Any help greatly received!

[2021-11-19 17:57] haihoang20 opened #309 "Bug: Copy and paste from MS Excel on a Windows machine pastes an extra empty cell"
There's a bug that happens on Windows where copying and pasting multiple cells from MS Excel will paste an extra empty cell. This can unintentionally overwrite existing cells as seen in the screenshot.
![image](https://user-images.githubusercontent.com/10408344/142668521-a268babb-8a4d-4df3-a89f-306bcc278ef1.png)
![image](https://user-images.githubusercontent.com/10408344/142668539-0a8be206-2f17-45

[2021-11-21 06:21] vanshreddy opened #310 "How do I initialize a datasheet with empty columns and rows which fills up my container?"
I have looked around alot but could not find the solution even in the documentation

[2022-01-27 09:52] christiankaindl commented on #309
If anyone comes across this issue, it can be easily fixed by using the [`parsePaste` prop](https://github.com/nadbm/react-datasheet#options) on the <DataSheet> component, and pass it a modified version of [the default function](https://github.com/nadbm/react-datasheet/blob/b7bacff7e77925c91bc8b8f3dfbdbb59c8107653/src/DataSheet.js#L32) with an added `.trim()` call:

[code]

Fixed the issue for me

[2022-01-27 21:49] hugotown commented on #291
@lealhugui Excellent feature ⭐️

[2022-02-28 11:37] nick318 opened #318 "What to use instead of deprecated `onPaste` function"
https://github.com/nadbm/react-datasheet#deprecated-handlers

`onPaste` function has been declared as deprecated, so what is an alternative for that?

[2022-04-19 06:00] hoshinokanade commented on #145
The same issue could happen to those who use a custom `sheetRenderer`. It is, however, turn out not to be a coding problem of this repository.

I tried a lot and observed that the datasheet is unable to focus. It sharing the same root cause [with this question](https://stackoverflow.com/questions/22573494/react-js-input-losing-focus-when-rerendering).
In short, the `setState` triggers a re-render

[2022-05-07 13:43] maifeeulasad opened #322 "Feature Request: Export as Excel/CSV"
I used this library for my project, and I must say it's an excellent library.

I went through all the examples provided in the official demo: https://nadbm.github.io/react-datasheet/. But couldn't find any way to export data as an Excel document or even CSV. I think it would be a great addition.

And I'm available to develop this feature.

[2022-05-23 21:02] lancepollard opened #324 "Does CTRL+Z word for undoing a paste?"
Does CTRL+Z word for undoing a paste? It doesn't seem to work for me, how do you get it to work?

How about CTRL+SHIFT+Z to redo?

[2022-05-23 21:52] nadbm commented on #324
No these do not work out of the box. You need to maintain your own state and monitor keypresses `CTRL+Z` commands to go back to a previous state.

[2022-05-23 21:53] #324 closed

[2022-05-23 21:57] nadbm commented on #322
Hey @maifeeulasad, since this library does not maintain the data, I do not believe it makes sense for it to export the data.

Basically:

[code]

The export could be seperate component that handles the export

[2022-05-23 21:58] nadbm commented on #318
Sorry @nick318, this repo is not really maintained but for whoever finds this:

`onCellsChanged` gets called when a paste happens

[2022-05-23 22:03] nadbm commented on #310
Sorry @nick318, this repo is not really maintained but for whoever finds this:

You need to initialize empty data matrix and pass it on to the data field
[code]

[2022-06-21 12:44] hamodey opened #326 "Where can I see the code examples that are on the website?"
The examples present on the website https://nadbm.github.io/react-datasheet/, are very good examples and I would like to see the implementation. Is there a place I can see this?

Is is not present on the README.

Thanks

[2022-06-22 13:56] ziponia commented on #326
Perhaps, this is what you are looking for

https://github.com/nadbm/react-datasheet/tree/master/docs/src/examples

[2022-06-22 15:40] hamodey commented on #326
Thank you very much! Will take a closer look :)

[2022-06-22 15:41] #326 closed, assigned to nobody

[2022-06-29 11:01] hamodey opened #328 "Paste more rows than that is defined by the `grid`."
Hi,

Lets say I have a Grid of 5 Rows and 3 columns, however in my excel I have 10 Rows and 3 columns.

Using the `onCellChanged` and possibly the `pasteParser` I would like to generate 10 Rows in my grid.

Currently the Datasheet looks like this:
![image](https://user-images.githubusercontent.com/26579110/176420738-b1beec32-990f-4873-a586-8e9e7b2b0423.png)

I would like to paste this data:
![imag

[2022-08-07 08:06] sharunspi commented on #322
It should be great if the library is having a action bar component in which it will be having all the options similar to the option in any excel sheets.
![image](https://user-images.githubusercontent.com/21285883/183281497-aa9686f1-b302-431b-bbbe-f9d1cf05e8de.png)

1. Can add config file to configure the options
2. Can add multiple options like export to csv,json,etc

[2022-08-10 10:45] BaherZ commented on #328
onCellsChanged takes in 2 params, "changes" and "additions", you can use the additions to see the data that you copied that do not have a place to copy yet, you can then work with that info to add additional rows to your sheet

[2022-08-10 11:44] hamodey commented on #328
Awesome, thanks for response I will have a look at that approach.

I have had some time to apply functionality that does the above, but has small bugs for row length.

I will take yours into account and see if that helps! :)

[2022-08-10 11:44] #328 closed, assigned to nobody

[2022-10-06 09:44] haris0 commented on #59
Hallo @Avhishek05 can you show me some examples? to do this.

I need to freeze/fixed first 3 column when scroll to right

[2022-10-06 12:23] Avhishek05 commented on #59
@haris0 when you construct table you can to add class like this for column one -> `col-1` column two `col-2`. then add css like this .col-1 { css for freezing first column } etc...

[2022-10-11 08:53] haris0 commented on #59
Oh okay @Avhishek05, i got the point, i will try to implement this.
Thank you